<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
<title>サティア不動産ホームページ</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<meta id="viewport" name="viewport" content="width=1024, initial-scale=0.6, maximum-scale=0.6, user-scalable=yes"/>-->
<link rel="stylesheet" href="/css/lib.min.css">
<link rel="stylesheet" id="style-css" href="/css/common/style.css" type="text/css" media="all"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/png"/>
    <link rel="stylesheet" href="/css/template/template.css">
    <style tyle="text/css">
    </style>
</head>
<body>
<header class="header container">
    <div class="pc_navigation">
        <div class="pc_nav">
    <div class="nav_post left_nav">
        <img src="/img/common/web_logo.png" alt="Satya Logo">
        <img src="/img/common/web_tel.png" alt="Satya Tel">
    </div>
    <div class="nav_pos right_nav">

    </div>
</div>
    </div>
    <div class="mobile_hamburger">
        <div class="fat-nav">
    <div class="top_nav_mb">
        <img src="/img/common/satya_mb.png" alt="Satya Logo" height="43">
    </div>
    <div class="fat-nav__wrapper">
        <ul>
            <li><a class="link" href="javascript:;">HOME <span>ホーム</span></a></li>
            <li><a class="link" href="javascript:;">PROJECT <span>事業内容　</span></a></li>
            <li><a class="link" href="javascript:;">SEARCH <span>分譲地</span></a></li>
            <li><a class="link" href="javascript:;">ABOUT US <span>会社概要</span></a></li>
            <li><a class="link" href="javascript:;">CONTACT <span>お問い合わせ</span></a></li>
        </ul>
    </div>
</div>

    </div>
</header>
<div class="main-content">
    <div class="naiyou_page">
        <div class="container" style="height: 2000px; border: 1px solid red;">
            HERE IS MAIN CONTENT
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/lib.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript">
    //Common js written here.
</script>
<script type="text/javascript">
    <!--Javascript here-->
</script>
</body>
</html>

