@import "../compass-mixins/lib/compass/css3";
@import "../../scss/compass/compass";
@import "../../scss/partial/component";
//Vitural. After complete. Please delete it
@import "../compass/helper_class";

//Common global style

* {
  @include cpn_header_banner_gazou();
  @include cpn_title();
  @include cpn_cell_li();
  @include cpn_green_title();
}


.main-content {
  opacity: 1;

  .top_banner {
    opacity: 1;

    height: 200px;
    background-color: gray;

  }
  .naiyou_page {
    opacity: 1;
    margin-bottom: 270px;

    @include large-screen() {
      margin-bottom: 100px;
    }
    .eki_kara {
      opacity: 1;

      .title {
        opacity: 1;
        margin-top: 86px;
        margin-bottom: 67px;

        @include large-screen() {
          margin-top: 50px;
          margin-bottom: 66px;
        }
      }
      .bound_green_title {
        opacity: 1;
      }

      .bounce_navigation {
        opacity: 1;
        position: relative;

        &::after {
          content: url("../../img/search_eki/stand_aisatsu.png");
          position: absolute;
          top: 40px;
          right: 27px;

          @include xs-screen() {
            display: none;
          }
        }

        .bounce_list {
          opacity: 1;
          @include clearfix();



          &.bounce_list_1 {
            opacity: 1;
            margin-top: 35px;

            @include xs-screen() {
              margin-top: 16px;
              @include paddingLeftRight(40);
            }

            @include iphone5s-landscape-screen() {
              @include paddingLeftRight(10);
            }

          }
          &.bounce_list_2 {
            opacity: 1;
            margin-top: 71px;

            @include xs-screen() {
              @include paddingLeftRight(40);
            }

            @include iphone5s-landscape-screen() {
              @include paddingLeftRight(10);
            }
          }

          .col {
            opacity: 1;
            float: left;

            @include small-screen() {
              margin-top: 11px;
            }

            .row_cell {
              opacity: 1;
              @include clearfix();

              .half, .full {
                opacity: 1;
                a {
                  font-family : 小塚ゴシック Pr6N;
                  font-size : 20px;
                  color : #231815;
                  color : rgb(35, 24, 21);
                  text-decoration : underline;
                  line-height: 34px;

                  @include medium-screen() {
                    font-size: 17px;
                  }

                  &:hover {
                    color: #65AADD;
                  }
                }
              }
              .half {
                opacity: 1;
                width: 50%;
                float: left;

              }
              .full {
                opacity: 1;
                width: 100%;
                &.header_tit {
                  opacity: 1;

                  a {
                    font-family : HiraKakuProN W6-83pv-RKSJ-H;
                    font-size : 18px;
                    color : #008982;
                    color : rgb(0, 137, 130);

                    @include reset-a();
                  }
                }
              }
            }
          }

          .col_1 {
            margin-left: 117px;
            opacity: 1;
            width: 185px;

            @include large-screen() {
              margin-left: 10px;
            }

            @include xs-screen() {
              margin-left: 0px;
            }

          }
          .col_2 {
            width: 134px;
            margin-left: 21px;

            @include large-screen() {
              width: 110px;

            }

            @include tiny-screen() {
              width: 60px;
            }
          }
          .col_3 {
            width: 330px;

            @include xs-screen() {
              width: 300px;
            }

            @include medium-screen() {
              width: 239px;
            }

            @include iphone5s-landscape-screen() {
              width: 197px;
            }
          }
          .col_4 {
            opacity: 1;
            margin-left: 117px;
            width: 210px;

            @include large-screen() {
              margin-left: 10px;
            }

            @include xs-screen() {
              margin-left: 0px;
            }

            @include small-screen() {
              width: 100%;
            }

            .row_cell {
              @include small-screen() {
                width: 50%;
                float: left;
              }

              &:first-child {
                width: 100%;
              }
            }

            .full:not(.header_tit) {
              padding-left: 21px;

            }
          }
          .col_5 {
            width: 216px;
            .full:not(.header_tit) {
              padding-left: 24px;
            }

            @include iphone5s-landscape-screen() {
              width: 162px;
            }

            @include tiny-screen() {
              width: 134px;
            }
          }

          .col_6 {
            .full:not(.header_tit) {
              padding-left: 20px;
            }
          }
        }
      }
      
      .route_map {
        text-align: center;
        margin-top: 72px;
        position: relative;

        &::after {
          opacity: 1;

          @include xs-screen() {
            position: absolute;
            content: url("../../img/search_eki/mb_shoe_show.png");
            right: 59px;
            top: -27px;
          }

          @include small-screen() {
            right: 0px;
          }
        }
        
        a {
          outline: none;
          img {
            opacity: 1;
            outline: none;
            border: none;
          }
        }
        .img_des {
          opacity: 1;
          text-align: center;
          font-family : HiraKakuProN W3-83pv-RKSJ-H;
          font-size : 21px;
          color : #727171;
          color : rgb(114, 113, 113);
          margin-top: 23px;
        }
      }

      .bounce_result {
        opacity: 1;
        margin-top: 147px;

        @include xs-screen() {
          margin-top: 90px;
        }

        .bounce_buirochi_kara {
          opacity: 1;

          .list {
            margin-bottom: 27px;
            opacity: 1;
            font-family : ヒラギノ角ゴ Pro;
            font-size : 16px;
            line-height : 21px;
            color : #231815;
            color : rgb(35, 24, 21);

            font-weight: 700;

          }
          .bound_ul {
            opacity: 1;

          }
          .no-result {
            opacity: 1;
            font-size: 20px;
          }
        }
      }
    }
  }
}
