<footer class="footer">
    <div class="banner_slash">
        <ul class="bounce_link">
            <li class="li_link"><a class="anchor_link" href="javascript:;">ホーム</a></li>
            <li class="li_link"><a class="anchor_link" href="javascript:;">事業内容</a></li>
            <li class="li_link"><a class="anchor_link" href="javascript:;">分譲地</a></li>
            <li class="li_link"><a class="anchor_link" href="javascript:;">会社概要</a></li>
            <li class="li_link"><a class="anchor_link" href="javascript:;">お問い合わせ</a></li>
        </ul>
    </div>


    <div class="footer_below">
        <div class="bounce_content container">
            <div class="elm_cel name_kaisha">
                <img src="@@webRoot/img/common/name_kaisha.png" alt="Image Kaisha">
                <p class="tel_time">
                    <a href="tel:+81120853082">
                        <span class="tel">0120-85-3082</span>
                    </a>
                    <span class="time">（8：00：0〜17：00）</span>
                </p>
            </div>
            <div class="elm_cel info_kaisha">
                <p class="tel_time">
                    <a href="tel:+81120853082">
                        <span class="tel">0120-85-3082</span>
                    </a>
                    <span class="time">（8：00：0〜17：00）</span>
                </p>
                <p class="star">
                    ※店頭での相談及び案内は予約制
                </p>
                <div class="address">
                    <p>〒763-0024　香川県丸亀市塩飽町11番地1 SATYA.BLD 2F</p>
                    <p>TEL:<a href="tel:+81120853082">0877-85-3082</a>　FAX:0877-85-3083</p>
                    <p style="margin-left: -7px">【定休日】不定期　祝祭日　年末年始　GW　夏季休暇</p>
                    <p>香川県知事免許（2）第4169号
                    </p>
                </div>
            </div>
            <div class="elm_cel image_kaisha">
                <img src="@@webRoot/img/common/image_kaisha.png" alt="Image Kaisha">
                <p class="copy_right">
                    Copyright（c）SATYA co.ltd. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
