@charset "UTF-8";
* .circle-text {
  display: table-cell;
  height: 197px;
  /*change this and the width
   for the size of your initial circle*/
  width: 197px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  /*make it pretty*/
  background: #ABCD03;
  font-size: 30px;
  color: #FFFFFF;
  color: white;
  font-family: "ヒラギノ明朝 Pro";
  font-weight: bold;
  /*change this
   for font-size and font-family*/ }

* .cpn_title {
  opacity: 1;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 25px;
  color: #438BCB;
  color: #438bcb;
  width: 316px;
  margin: 0 auto;
  text-align: center; }
  @media only screen and (max-width: 320px) {
    * .cpn_title {
      width: 100%; } }
  * .cpn_title:after {
    content: '';
    display: block;
    clear: both;
    height: 9px;
    background-color: #CACACB;
    margin-top: 12px; }

* .cell_li {
  opacity: 1;
  height: 95px;
  border-bottom: 1px solid #B5B6B6;
  padding-left: 3px;
  position: relative; }
  * .cell_li:first-child {
    border-top: 1px solid #B5B6B6; }
  * .cell_li:after {
    position: absolute;
    right: 0;
    top: 31px;
    content: url("../../img/about-us/arrow_left.png");
    clear: both; }
  * .cell_li .label_rui {
    opacity: 1;
    width: 100px;
    height: 48px;
    background-color: #E60012;
    display: inline-block;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    color: white;
    line-height: 48px;
    text-align: center;
    margin-top: 22px; }
  * .cell_li .description_rui {
    display: inline-block;
    margin-left: 15px; }
    * .cell_li .description_rui a {
      text-underline: none;
      font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
      font-size: 21px;
      color: #231815;
      color: #231815; }
      * .cell_li .description_rui a:hover, * .cell_li .description_rui a:visited, * .cell_li .description_rui a:link, * .cell_li .description_rui a:active {
        text-decoration: none; }

* .cpn_green_title {
  width: 100%;
  background-color: #ABCD03;
  height: 46px;
  line-height: 46px;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  color: white;
  text-align: center; }

body {
  opacity: 1; }
  body .naiyou_page {
    background-color: transparent; }
    body .naiyou_page .title_bound_component {
      opacity: 1;
      background: #9cb976; }
    body .naiyou_page .boundComponent {
      opacity: 1; }
      body .naiyou_page .boundComponent .component_element {
        opacity: 1;
        border: 1px solid #83c4dc;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 20px; }
        body .naiyou_page .boundComponent .component_element .el_title {
          opacity: 1;
          color: #ff005c;
          background: #e2e9f1;
          margin-bottom: 28px; }
          body .naiyou_page .boundComponent .component_element .el_title .indexTitle {
            opacity: 1;
            width: 30px;
            display: inline-block; }
        body .naiyou_page .boundComponent .component_element .bounceContent {
          opacity: 1;
          margin-bottom: 26px; }

.vitual {
  position: relative;
  min-height: 1px;
  align-content: initial;
  align-items: initial;
  align-self: initial;
  all: initial;
  animation: initial;
  animation-delay: initial;
  animation-direction: initial;
  animation-duration: initial;
  animation-fill-mode: initial;
  animation-iteration-count: initial;
  animation-name: initial;
  animation-play-state: initial;
  animation-timing-function: initial;
  backface-visibility: initial;
  background: initial;
  background-attachment: initial;
  background-blend-mode: initial;
  background-clip: initial;
  background-color: initial;
  background-image: initial;
  background-origin: initial;
  background-position: initial;
  background-repeat: initial;
  background-size: initial;
  border: initial;
  border-bottom: initial;
  border-bottom-color: initial;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
  border-bottom-style: initial;
  border-bottom-width: initial;
  border-collapse: initial;
  border-color: initial;
  border-image: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-image-slice: initial;
  border-image-source: initial;
  border-image-width: initial;
  border-left: initial;
  border-left-color: initial;
  border-left-style: initial;
  border-left-width: initial;
  border-radius: initial;
  border-right: initial;
  border-right-color: initial;
  border-right-style: initial;
  border-right-width: initial;
  border-spacing: initial;
  border-style: initial;
  border-top: initial;
  border-top-color: initial;
  border-top-left-radius: initial;
  border-top-right-radius: initial;
  border-top-style: initial;
  border-top-width: initial;
  border-width: initial;
  bottom: initial;
  box-shadow: initial;
  box-sizing: initial;
  caption-side: initial;
  clear: initial;
  clip: initial;
  color: initial;
  column-count: initial;
  column-fill: initial;
  column-gap: initial;
  column-rule: initial;
  column-rule-color: initial;
  column-rule-style: initial;
  column-rule-width: initial;
  column-span: initial;
  column-width: initial;
  columns: initial;
  content: initial;
  counter-increment: initial;
  counter-reset: initial;
  cursor: initial;
  direction: initial;
  display: initial;
  empty-cells: initial;
  filter: initial;
  flex: initial;
  flex-basis: initial;
  flex-direction: initial;
  flex-flow: initial;
  flex-grow: initial;
  flex-shrink: initial;
  flex-wrap: initial;
  float: initial;
  font: initial;
  font-family: initial;
  font-size: initial;
  font-size-adjust: initial;
  font-stretch: initial;
  font-style: initial;
  font-variant: initial;
  font-weight: initial;
  hanging-punctuation: initial;
  height: initial;
  justify-content: initial;
  left: initial;
  letter-spacing: initial;
  line-height: initial;
  list-style: initial;
  list-style-image: initial;
  list-style-position: initial;
  list-style-type: initial;
  margin: initial;
  margin-bottom: initial;
  margin-left: initial;
  margin-right: initial;
  margin-top: initial;
  max-height: initial;
  max-width: initial;
  min-height: initial;
  min-width: initial;
  nav-down: initial;
  nav-index: initial;
  nav-left: initial;
  nav-right: initial;
  nav-up: initial;
  opacity: initial;
  order: initial;
  outline: initial;
  outline-color: initial;
  outline-offset: initial;
  outline-style: initial;
  outline-width: initial;
  overflow: initial;
  overflow-x: initial;
  overflow-y: initial;
  padding: initial;
  padding-bottom: initial;
  padding-left: initial;
  padding-right: initial;
  padding-top: initial;
  page-break-after: initial;
  page-break-before: initial;
  page-break-inside: initial;
  perspective: initial;
  perspective-origin: initial;
  position: initial;
  quotes: initial;
  resize: initial;
  right: initial;
  tab-size: initial;
  table-layout: initial;
  text-align: initial;
  text-align-last: initial;
  text-decoration: initial;
  text-decoration-color: initial;
  text-decoration-line: initial;
  text-decoration-style: initial;
  text-indent: initial;
  text-justify: initial;
  text-overflow: initial;
  text-shadow: initial;
  text-transform: initial;
  top: initial;
  transform: initial;
  transform-origin: initial;
  transform-style: initial;
  transition: initial;
  transition-delay: initial;
  transition-duration: initial;
  transition-property: initial;
  transition-timing-function: initial;
  unicode-bidi: initial;
  user-select: initial;
  vertical-align: initial;
  visibility: initial;
  white-space: initial;
  width: initial;
  word-break: initial;
  word-spacing: initial;
  word-wrap: initial;
  z-index: initial; }
  @media only screen and (max-width: 1200px) {
    .vitual {
      opacity: 1; } }
  @media only screen and (max-width: 1024px) {
    .vitual {
      opacity: 1; } }
  @media only screen and (max-width: 960px) {
    .vitual {
      opacity: 1; } }
  @media only screen and (max-width: 767px) {
    .vitual {
      opacity: 1; } }
  @media only screen and (max-width: 680px) {
    .vitual {
      opacity: 1; } }
  @media only screen and (max-width: 480px) {
    .vitual {
      opacity: 1; } }
  @media only screen and (max-width: 320px) {
    .vitual {
      opacity: 1; } }
  .vitual:active {
    opacity: 1; }
  .vitual:checked {
    opacity: 1; }
  .vitual:disabled {
    opacity: 1; }
  .vitual:empty {
    opacity: 1; }
  .vitual:enabled {
    opacity: 1; }
  .vitual:first-child {
    opacity: 1; }
  .vitual:first-of-type {
    opacity: 1; }
  .vitual:focus {
    opacity: 1; }
  .vitual:hover {
    opacity: 1; }
  .vitual:in-range {
    opacity: 1; }
  .vitual:invalid {
    opacity: 1; }
  .vitual:lang(language) {
    opacity: 1; }
  .vitual:last-child {
    opacity: 1; }
  .vitual:last-of-type {
    opacity: 1; }
  .vitual:link {
    opacity: 1; }
  .vitual:not(selector) {
    opacity: 1; }
  .vitual:nth-child(n) {
    opacity: 1; }
  .vitual:nth-last-child(n) {
    opacity: 1; }
  .vitual:nth-last-of-type(n) {
    opacity: 1; }
  .vitual:nth-of-type(n) {
    opacity: 1; }
  .vitual:only-of-type {
    opacity: 1; }
  .vitual:only-child {
    opacity: 1; }
  .vitual:optional {
    opacity: 1; }
  .vitual:out-of-range {
    opacity: 1; }
  .vitual:read-only {
    opacity: 1; }
  .vitual:read-write {
    opacity: 1; }
  .vitual:required {
    opacity: 1; }
  .vitual:root {
    opacity: 1; }
  .vitual:target {
    opacity: 1; }
  .vitual:valid {
    opacity: 1; }
  .vitual:visited {
    opacity: 1; }
  .vitual::after {
    opacity: 1; }
  .vitual::before {
    opacity: 1; }
  .vitual::first-letter {
    opacity: 1; }
  .vitual::first-line {
    opacity: 1; }
  .vitual::selection {
    opacity: 1; }

/*# sourceMappingURL=template.css.map */
