@charset "UTF-8";
html {
  font-size: 16px; }

body {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

@media only screen and (min-width: 1000px) {
  .container {
    width: 1015px; } }

button {
  outline: none !important; }

/* Image style */
#scrollUp {
  background-image: url("../../img/common/top.png");
  bottom: 20px;
  right: calc((100vw - 1000px) / 2);
  width: 35px;
  /* Width of image */
  height: 35px;
  /* Height of image */ }
  @media only screen and (max-width: 1024px) {
    #scrollUp {
      right: 15px;
      bottom: 15px; } }

* .hamburger {
  opacity: 1;
  display: none; }
  @media only screen and (max-width: 767px) {
    * .hamburger {
      display: block;
      width: 54px;
      height: 54px;
      position: fixed;
      top: 6px;
      right: 0;
      z-index: 10000;
      padding: 12px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      -webkit-tap-highlight-color: transparent;
      -ms-touch-action: manipulation;
      touch-action: manipulation; } }

* .hamburger__icon {
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px; }

* .hamburger__icon, * .hamburger__icon:before, * .hamburger__icon:after {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #222;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }

* .hamburger__icon:before, * .hamburger__icon:after {
  position: absolute;
  content: ""; }

* .hamburger__icon:before {
  top: -7px; }

* .hamburger__icon:after {
  top: 7px; }

* .active .hamburger__icon {
  background-color: transparent; }

* .active .hamburger__icon:before, * .active .hamburger__icon:after {
  background-color: #fff; }

* .active .hamburger__icon:before {
  -moz-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -webkit-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg); }

* .active .hamburger__icon:after {
  -moz-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -webkit-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg); }

* .fat-nav {
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: #727171;
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

* .fat-nav__wrapper {
  width: 100%;
  height: calc(100% - 56px);
  display: table;
  table-layout: fixed; }

* .fat-nav.active {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); }

* .fat-nav ul {
  display: table-cell;
  vertical-align: top;
  margin: 0;
  padding: 0; }

* .fat-nav li {
  list-style-type: none;
  text-align: center;
  padding: 3px;
  font-size: 2em;
  padding-left: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.33); }

* .fat-nav li, * .fat-nav li a {
  color: #fff;
  text-align: left; }

* .fat-nav li a {
  text-decoration: none;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  color: white; }
  * .fat-nav li a span {
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 12px;
    letter-spacing: 2.4px;
    color: #FFFFFF;
    color: white;
    display: inline-block;
    margin-left: 7px; }

* .fat-nav {
  opacity: 1; }
  * .fat-nav .top_nav_mb {
    opacity: 1;
    position: relative;
    height: 55px;
    background-color: #231815; }
    * .fat-nav .top_nav_mb::after {
      content: url("../../img/common/vertical_slash_mb.png");
      position: absolute;
      right: 57px; }
    * .fat-nav .top_nav_mb img {
      opacity: 1;
      margin-top: 5px;
      margin-left: 15px; }

* .nav_header_mb {
  opacity: 1;
  display: none; }
  @media only screen and (max-width: 767px) {
    * .nav_header_mb {
      display: block; } }
  * .nav_header_mb .bound_img {
    opacity: 1;
    margin-top: 49px;
    margin-bottom: 15px; }
    @media only screen and (max-width: 480px) {
      * .nav_header_mb .bound_img {
        opacity: 1;
        margin-top: 23px; } }
    * .nav_header_mb .bound_img img {
      opacity: 1;
      max-width: 100%; }

* .pc_nav {
  opacity: 1; }
  * .pc_nav:before, * .pc_nav:after {
    content: "";
    display: table; }
  * .pc_nav:after {
    clear: both; }
  * .pc_nav .nav_pos {
    opacity: 1; }
    * .pc_nav .nav_pos.left_nav {
      opacity: 1;
      width: calc(100% - 440px);
      float: left; }
      * .pc_nav .nav_pos.left_nav img {
        opacity: 1; }
        * .pc_nav .nav_pos.left_nav img.logo_image {
          opacity: 1;
          margin-left: 14px; }
        * .pc_nav .nav_pos.left_nav img.tel_logo {
          opacity: 1;
          margin-top: 22px;
          margin-left: 12px; }
          @media only screen and (max-width: 960px) {
            * .pc_nav .nav_pos.left_nav img.tel_logo {
              margin-left: 16px; } }
    * .pc_nav .nav_pos.right_nav {
      opacity: 1;
      width: 440px;
      float: left;
      margin-top: 22px;
      /* Sub Menus */
      /*******************************************
           Style menu for larger screens

           Using 650px (130px each * 5 items), but ems
           or other values could be used depending on other factors
        ********************************************/ }
      * .pc_nav .nav_pos.right_nav .nav_pure_css ul {
        list-style: none;
        background-color: transparent;
        text-align: center;
        padding: 0;
        margin: 0; }
      * .pc_nav .nav_pos.right_nav .nav_pure_css li {
        font-family: 'Oswald', sans-serif;
        font-size: 1.2em;
        text-align: left; }
      * .pc_nav .nav_pos.right_nav .nav_pure_css a {
        text-decoration: none;
        display: block;
        transition: .3s background-color; }
        * .pc_nav .nav_pos.right_nav .nav_pure_css a .upper_link {
          font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
          font-size: 15px;
          letter-spacing: 0px;
          color: #5A5858;
          color: #5a5858;
          display: block;
          line-height: 15px; }
        * .pc_nav .nav_pos.right_nav .nav_pure_css a .lower_link {
          font-family: KozGoPr6N Light-83pv-RKSJ-H;
          font-size: 12px;
          letter-spacing: 0px;
          color: #727171;
          color: #727171;
          display: inline; }
      * .pc_nav .nav_pos.right_nav .nav_pure_css a:hover {
        opacity: 1; }
        * .pc_nav .nav_pos.right_nav .nav_pure_css a:hover .lower_link {
          color: #00923A; }
      * .pc_nav .nav_pos.right_nav .nav_pure_css a.active {
        color: #00923A;
        cursor: default; }
      * .pc_nav .nav_pos.right_nav .nav_pure_css li li {
        font-size: .8em; }
      @media screen and (min-width: 650px) {
        * .pc_nav .nav_pos.right_nav {
          /* Sub Menus */ }
          * .pc_nav .nav_pos.right_nav .nav_pure_css li {
            width: 20%;
            border-bottom: none;
            font-size: 1.4em;
            display: inline-block;
            margin-right: -4px; }
          * .pc_nav .nav_pos.right_nav .nav_pure_css a {
            border-bottom: none; }
          * .pc_nav .nav_pos.right_nav .nav_pure_css > ul > li {
            text-align: center; }
          * .pc_nav .nav_pos.right_nav .nav_pure_css > ul > li > a {
            padding-left: 0; }
          * .pc_nav .nav_pos.right_nav .nav_pure_css li ul {
            position: absolute;
            display: none;
            width: inherit; }
          * .pc_nav .nav_pos.right_nav .nav_pure_css li:hover ul {
            display: block; }
          * .pc_nav .nav_pos.right_nav .nav_pure_css li ul li {
            display: block; } }

* .ui-box {
  padding: 0px; }

* .footer {
  opacity: 1; }
  @media only screen and (max-width: 960px) {
    * .footer {
      opacity: 1; } }
  * .footer .banner_slash {
    opacity: 1;
    text-align: center;
    height: 38px;
    background-image: url("../../img/common/banner_slash.png");
    background-repeat: repeat-x;
    padding-top: 15px; }
    * .footer .banner_slash:before, * .footer .banner_slash:after {
      content: "";
      display: table; }
    * .footer .banner_slash:after {
      clear: both; }
    * .footer .banner_slash .bounce_link {
      opacity: 1;
      display: inline-block; }
      * .footer .banner_slash .bounce_link .li_link {
        opacity: 1;
        float: left;
        border-right: 1px solid #3F3B3A;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 12px; }
        @media only screen and (max-width: 480px) {
          * .footer .banner_slash .bounce_link .li_link {
            padding-left: 11px;
            padding-right: 11px; } }
        @media only screen and (max-width: 320px) {
          * .footer .banner_slash .bounce_link .li_link {
            padding-left: 7px;
            padding-right: 7px; } }
        * .footer .banner_slash .bounce_link .li_link:first-child {
          border-left: 1px solid #3F3B3A; }
        * .footer .banner_slash .bounce_link .li_link .anchor_link {
          font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
          font-size: 12px;
          color: #3F3B3A;
          color: #3f3b3a; }
  * .footer .footer_below {
    opacity: 1;
    background: #EFEFF0; }
    * .footer .footer_below:before, * .footer .footer_below:after {
      content: "";
      display: table; }
    * .footer .footer_below:after {
      clear: both; }
    @media only screen and (max-width: 960px) {
      * .footer .footer_below {
        padding-bottom: 42px; } }
    * .footer .footer_below .bounce_content {
      opacity: 1;
      margin-top: 38px; }
      * .footer .footer_below .bounce_content .elm_cel {
        opacity: 1;
        float: left; }
        * .footer .footer_below .bounce_content .elm_cel.name_kaisha {
          opacity: 1;
          margin-right: 23px; }
          @media only screen and (max-width: 960px) {
            * .footer .footer_below .bounce_content .elm_cel.name_kaisha {
              width: 100%; } }
          * .footer .footer_below .bounce_content .elm_cel.name_kaisha img {
            display: inline-block;
            float: left; }
            @media only screen and (max-width: 680px) {
              * .footer .footer_below .bounce_content .elm_cel.name_kaisha img {
                opacity: 1;
                width: 50%; } }
            @media only screen and (max-width: 570px) {
              * .footer .footer_below .bounce_content .elm_cel.name_kaisha img {
                width: 42%;
                margin-top: 6px; } }
            @media only screen and (max-width: 480px) {
              * .footer .footer_below .bounce_content .elm_cel.name_kaisha img {
                width: 100%; } }
          * .footer .footer_below .bounce_content .elm_cel.name_kaisha .tel_time {
            opacity: 1;
            margin-bottom: 0px;
            display: none; }
            * .footer .footer_below .bounce_content .elm_cel.name_kaisha .tel_time:before, * .footer .footer_below .bounce_content .elm_cel.name_kaisha .tel_time:after {
              content: "";
              display: table; }
            * .footer .footer_below .bounce_content .elm_cel.name_kaisha .tel_time:after {
              clear: both; }
            * .footer .footer_below .bounce_content .elm_cel.name_kaisha .tel_time::before {
              content: '';
              background-image: url("../../img/common/wowow_tel.png");
              width: 29px;
              height: 17px;
              position: absolute; }
            * .footer .footer_below .bounce_content .elm_cel.name_kaisha .tel_time .tel {
              font-weight: bold;
              opacity: 1;
              font-size: 16px;
              color: #E83928;
              color: #e83928;
              float: left;
              margin-left: 38px; }
            * .footer .footer_below .bounce_content .elm_cel.name_kaisha .tel_time .time {
              float: left;
              opacity: 1;
              font-size: 12px;
              color: #231815;
              color: #231815;
              line-height: 24px; }
            @media only screen and (max-width: 960px) {
              * .footer .footer_below .bounce_content .elm_cel.name_kaisha .tel_time {
                display: inline-block;
                float: right;
                margin-right: 0px;
                margin-top: 8px; } }
            @media only screen and (max-width: 480px) {
              * .footer .footer_below .bounce_content .elm_cel.name_kaisha .tel_time {
                float: left;
                margin-left: 1px;
                margin-top: 15px; } }
        * .footer .footer_below .bounce_content .elm_cel.info_kaisha {
          opacity: 1;
          margin-top: 8px; }
          * .footer .footer_below .bounce_content .elm_cel.info_kaisha * {
            font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
          @media only screen and (max-width: 960px) {
            * .footer .footer_below .bounce_content .elm_cel.info_kaisha {
              opacity: 1;
              margin-top: 31px;
              margin-left: 50px; } }
          @media only screen and (max-width: 680px) {
            * .footer .footer_below .bounce_content .elm_cel.info_kaisha {
              margin-left: 0px; } }
          * .footer .footer_below .bounce_content .elm_cel.info_kaisha .tel_time {
            opacity: 1;
            margin-bottom: 0px; }
            * .footer .footer_below .bounce_content .elm_cel.info_kaisha .tel_time:before, * .footer .footer_below .bounce_content .elm_cel.info_kaisha .tel_time:after {
              content: "";
              display: table; }
            * .footer .footer_below .bounce_content .elm_cel.info_kaisha .tel_time:after {
              clear: both; }
            * .footer .footer_below .bounce_content .elm_cel.info_kaisha .tel_time::before {
              content: '';
              background-image: url("../../img/common/wowow_tel.png");
              width: 29px;
              height: 17px;
              position: absolute; }
            * .footer .footer_below .bounce_content .elm_cel.info_kaisha .tel_time .tel {
              font-weight: bold;
              opacity: 1;
              font-size: 16px;
              color: #E83928;
              color: #e83928;
              float: left;
              margin-left: 38px; }
            * .footer .footer_below .bounce_content .elm_cel.info_kaisha .tel_time .time {
              float: left;
              opacity: 1;
              font-size: 12px;
              color: #231815;
              color: #231815;
              line-height: 24px; }
            @media only screen and (max-width: 960px) {
              * .footer .footer_below .bounce_content .elm_cel.info_kaisha .tel_time {
                display: none; } }
          * .footer .footer_below .bounce_content .elm_cel.info_kaisha .star {
            opacity: 1;
            font-family: 小塚ゴシック Pr6N;
            font-size: 12px;
            color: #231815;
            color: #231815; }
          * .footer .footer_below .bounce_content .elm_cel.info_kaisha .address {
            opacity: 1;
            margin-top: 12px; }
            * .footer .footer_below .bounce_content .elm_cel.info_kaisha .address p, * .footer .footer_below .bounce_content .elm_cel.info_kaisha .address a {
              font-size: 10px;
              line-height: 10px;
              color: #231815;
              color: #231815;
              font-family: 小塚ゴシック Pr6N; }
              @media only screen and (max-width: 320px) {
                * .footer .footer_below .bounce_content .elm_cel.info_kaisha .address p, * .footer .footer_below .bounce_content .elm_cel.info_kaisha .address a {
                  line-height: 17px;
                  width: 100%; } }
        * .footer .footer_below .bounce_content .elm_cel.image_kaisha {
          opacity: 1;
          float: right; }
          @media only screen and (max-width: 960px) {
            * .footer .footer_below .bounce_content .elm_cel.image_kaisha {
              opacity: 1;
              margin-top: 10px; } }
          * .footer .footer_below .bounce_content .elm_cel.image_kaisha img {
            opacity: 1;
            margin-right: 33px; }
            @media only screen and (max-width: 960px) {
              * .footer .footer_below .bounce_content .elm_cel.image_kaisha img {
                margin-right: 67px; } }
            @media only screen and (max-width: 570px) {
              * .footer .footer_below .bounce_content .elm_cel.image_kaisha img {
                width: 85%;
                margin-right: 0px; } }
            @media only screen and (max-width: 480px) {
              * .footer .footer_below .bounce_content .elm_cel.image_kaisha img {
                margin-left: -12px;
                width: 100%; } }
          * .footer .footer_below .bounce_content .elm_cel.image_kaisha .copy_right {
            margin-top: 22px;
            font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            font-size: 10px;
            color: #727171;
            color: #727171;
            text-align: right; }
            @media only screen and (max-width: 480px) {
              * .footer .footer_below .bounce_content .elm_cel.image_kaisha .copy_right {
                float: left;
                font-size: 13px; } }
            @media only screen and (max-width: 320px) {
              * .footer .footer_below .bounce_content .elm_cel.image_kaisha .copy_right {
                text-align: left; } }

.header {
  opacity: 1; }
  .header .pc_navigation {
    opacity: 1;
    height: 75px;
    margin-top: 20px; }
    .header .pc_navigation:before, .header .pc_navigation:after {
      content: "";
      display: table; }
    .header .pc_navigation:after {
      clear: both; }
    @media only screen and (max-width: 767px) {
      .header .pc_navigation {
        display: none; } }
  .header .mobile_hamburger {
    opacity: 1; }
    .header .mobile_hamburger:before, .header .mobile_hamburger:after {
      content: "";
      display: table; }
    .header .mobile_hamburger:after {
      clear: both; }

/*# sourceMappingURL=style.css.map */
