@charset "UTF-8";
html {
  font-size: 16px; }

body {
  font-family: " ヒラギノ角ゴ Pro W3 ", " Hiragino Kaku Gothic Pro ", Osaka, " メイリオ ", Meiryo, " ＭＳ Ｐゴシック ", " MS PGothic ", sans-serif; }

.container {
  max-width: 1015px; }

/* Image style */
#scrollUp {
  background-image: url("../../img/top.png");
  bottom: 20px;
  right: calc((100vw - 961px) / 2);
  width: 35px;
  /* Width of image */
  height: 35px;
  /* Height of image */ }

.footer {
  opacity: 1; }
  .footer .banner_slash {
    opacity: 1;
    text-align: center;
    height: 38px;
    background-image: url("/img/common/banner_slash.png");
    background-repeat: repeat-x;
    padding-top: 15px; }
    .footer .banner_slash:before, .footer .banner_slash:after {
      content: "";
      display: table; }
    .footer .banner_slash:after {
      clear: both; }
    .footer .banner_slash .bounce_link {
      opacity: 1;
      display: inline-block; }
      .footer .banner_slash .bounce_link .li_link {
        opacity: 1;
        float: left;
        border-right: 1px solid #3F3B3A;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 12px; }
        .footer .banner_slash .bounce_link .li_link:first-child {
          border-left: 1px solid #3F3B3A; }
        .footer .banner_slash .bounce_link .li_link .anchor_link {
          font-family: " ヒラギノ角ゴ Pro W3 ", " Hiragino Kaku Gothic Pro ", Osaka, " メイリオ ", Meiryo, " ＭＳ Ｐゴシック ", " MS PGothic ", sans-serif;
          font-size: 12px;
          color: #3F3B3A;
          color: #3f3b3a; }
  .footer .footer_below {
    opacity: 1;
    background: #EFEFF0; }
    .footer .footer_below:before, .footer .footer_below:after {
      content: "";
      display: table; }
    .footer .footer_below:after {
      clear: both; }
    .footer .footer_below .bounce_content {
      opacity: 1;
      margin-top: 38px; }
      .footer .footer_below .bounce_content .elm_cel {
        opacity: 1;
        float: left; }
        .footer .footer_below .bounce_content .elm_cel.name_kaisha {
          opacity: 1;
          margin-right: 23px; }
        .footer .footer_below .bounce_content .elm_cel.info_kaisha {
          opacity: 1; }
          .footer .footer_below .bounce_content .elm_cel.info_kaisha * {
            font-family: " ヒラギノ角ゴ Pro W3 ", " Hiragino Kaku Gothic Pro ", Osaka, " メイリオ ", Meiryo, " ＭＳ Ｐゴシック ", " MS PGothic ", sans-serif; }
          .footer .footer_below .bounce_content .elm_cel.info_kaisha .tel_time {
            opacity: 1;
            margin-bottom: 0px; }
            .footer .footer_below .bounce_content .elm_cel.info_kaisha .tel_time:before, .footer .footer_below .bounce_content .elm_cel.info_kaisha .tel_time:after {
              content: "";
              display: table; }
            .footer .footer_below .bounce_content .elm_cel.info_kaisha .tel_time:after {
              clear: both; }
            .footer .footer_below .bounce_content .elm_cel.info_kaisha .tel_time::before {
              content: '';
              background-image: url("/img/common/wowow_tel.png");
              width: 29px;
              height: 17px;
              position: absolute; }
            .footer .footer_below .bounce_content .elm_cel.info_kaisha .tel_time .tel {
              font-weight: bold;
              opacity: 1;
              font-size: 16px;
              color: #E83928;
              color: #e83928;
              float: left;
              margin-left: 38px; }
            .footer .footer_below .bounce_content .elm_cel.info_kaisha .tel_time .time {
              float: left;
              opacity: 1;
              font-size: 12px;
              color: #231815;
              color: #231815;
              line-height: 24px; }
          .footer .footer_below .bounce_content .elm_cel.info_kaisha .star {
            opacity: 1;
            font-size: 12px;
            color: #231815;
            color: #231815; }
          .footer .footer_below .bounce_content .elm_cel.info_kaisha .address {
            opacity: 1; }
            .footer .footer_below .bounce_content .elm_cel.info_kaisha .address p {
              font-size: 10px;
              line-height: 10px;
              color: #231815;
              color: #231815; }
        .footer .footer_below .bounce_content .elm_cel.image_kaisha {
          opacity: 1;
          float: right; }
          .footer .footer_below .bounce_content .elm_cel.image_kaisha img {
            opacity: 1;
            margin-right: 33px; }
          .footer .footer_below .bounce_content .elm_cel.image_kaisha .copy_right {
            margin-top: 22px;
            font-family: " ヒラギノ角ゴ Pro W3 ", " Hiragino Kaku Gothic Pro ", Osaka, " メイリオ ", Meiryo, " ＭＳ Ｐゴシック ", " MS PGothic ", sans-serif;
            font-size: 10px;
            color: #727171;
            color: #727171;
            text-align: right; }

/*# sourceMappingURL=style.css.map */
