@import "../compass-mixins/lib/compass/css3";
@import "../../scss/compass/compass";
@import "../../scss/partial/component";
//Vitural. After complete. Please delete it
@import "../compass/helper_class";

//Common global style
.circle-text {
  @include circle-text();
}
.cpn_title {
  @include cpn_title();
}
.main-content {
  opacity: 1;

  .top_banner {
    opacity: 1;

    height: 200px;
    background-color: gray;

  }
  .naiyou_page {
    opacity: 1;

    .aisatsu {
      opacity: 1;
      position: relative;

      &::after {
        content: url("/img/about-us/aisatsu.png");
        display: block;
        clear: both;
        position: absolute;
        right: -33px;
        top: -35px;
      }

      .text_aisatsu {
        font-family: $font-family-hiragino;
        width: 92%;
        font-size: 20px;;
        color: #231815;
        color: rgb(35, 24, 21);
        margin-top: 75px;
        margin-bottom: 61px;
      }
    }

    .bunjochi {
      opacity: 1;

      .circle_title {
        display: table;
        margin: 0 auto;
      }
      .content {
        opacity: 1;
        margin-top: 127px;

        .bound_ul {
          opacity: 1;

          @include cpn_bound_ul();
        }
      }
    }

    .kaisha_gaiyou {
      opacity: 1;

      .circle_title {
        opacity: 1;
        display: table;
        margin: 0 auto;
        margin-bottom: 78px;
        margin-top: 137px;

      }
      .content {
        opacity: 1;

        .bound_ul {
          opacity: 1;

          .cell_li {
            opacity: 1;

            border-bottom: 1px solid #B5B6B6;

            &:first-child {
              border-top: 1px solid #B5B6B6;
            }

            .before, .after {
              opacity: 1;

              font-family: $font-family-jp;
              font-size: 17px;
              line-height: 94px;
              color: #231815;
              color: rgb(35, 24, 21);
              display: inline-block;
            }
            .before {
              opacity: 1;
              width: 128px;
              padding-left: 2px;

            }
            .after {
              opacity: 1;
              width: calc(100% - 134px)
            }

            &.double {
              opacity: 1;

              .before {
                vertical-align: top;
              }
              .after {
                line-height: 40px;
                padding-top: 27px;
                padding-bottom: 17px;
              }
            }
          }
        }
      }
    }

    .jigyou_naiyou {
      opacity: 1;

      .circle_title {
        opacity: 1;
        display: table;
        margin: 0 auto;
        margin-top: 87px;
      }
      .content1 {
        opacity: 1;

        .title {
          opacity: 1;
          margin-top: 55px;
        }

        .bounce_below {
          opacity: 1;
          margin-top: 58px;

          .description {
            opacity: 1;
            font-family: $font-family-jp;
            font-size: 21px;
            color: #231815;
            color: rgb(35, 24, 21);

          }
          .bounce_image {
            opacity: 1;
            text-align: center;
            margin-top: 110px;

            a {
              display: block;
              padding-left: 173px;

              img {

              }
            }
          }
        }
      }
      .content2 {
        opacity: 1;

        .title {
          opacity: 1;
          margin-top: 124px;
        }

        .bounce_below {
          opacity: 1;
          margin-top: 52px;

          .description {
            opacity: 1;
            font-family: $font-family-jp;
            font-size: 21px;
            color: #231815;
            color: rgb(35, 24, 21);

          }
          .bounce_image {
            opacity: 1;
            text-align: center;
            margin-top: 71px;

            a {
              display: block;
              padding-left: 173px;

              img {

              }
            }
          }
        }
      }
    }

    .toiawase {
      opacity: 1;

      .circle_title {
        opacity: 1;
        display: table;
        margin: 0 auto;
        margin-top: 172px;
      }
      .content1 {
        opacity: 1;
        margin-top: 63px;
        .title {
          opacity: 1;

        }
        .tel_info {
          margin-top: 34px;
          opacity: 1;
          text-align: center;
          img {
            opacity: 1;

          }
        }
      }
      .content2 {
        opacity: 1;
        margin-top: 8px;
        .title {
          opacity: 1;

        }
        .form_info {
          opacity: 1;

          .formSubmit {
            opacity: 1;
            padding-right: 27px;

            .hitsuyou {
              opacity: 1;
              font-size: 14px;
              color: #E60012;
              color: rgb(230, 0, 18);
              text-align: right;

              margin-bottom: -2px;
              margin-top: 46px;
            }
            .form_content {
              opacity: 1;

              .cell_form {
                opacity: 1;
                @include clearfix();

                .before, .after {
                  opacity: 1;
                  margin-top: 7px;
                  margin-bottom: 7px;

                }
                .before {
                  opacity: 1;
                  width: 190px;
                  float: left;
                  text-align: right;
                  padding-right: 23px;
                  margin-top: 23px;
                  font-weight: 700;

                  .mark_hitsuyou {
                    font-size: 20px;
                    color: #E60012;
                    color: rgb(230, 0, 18);
                    display: inline-block;
                    width: 10px;
                    line-height: 0px;
                  }

                }
                .after {
                  opacity: 1;
                  float: left;
                  width: calc(100% - 190px);

                  input, textarea {
                    width: 100%;

                  }
                  input {
                    height: 41px;
                  }
                  textarea {
                    height: 177px;
                  }
                }
              }
            }
          }

          .bounce_submit {
            opacity: 1;
            text-align: center;
            margin-top: 40px;

            .btn_submit_form {
              width: 253px;
              height: 44px;
              background-color: #438BCB;
              font-size: 25px;
              color: #FFFFFF;
              color: rgb(255, 255, 255);
            }
          }
        }
      }
    }

    .privacy {
      opacity: 1;
      margin-bottom: 239px;

      .circle_title {
        opacity: 1;
        display: table;
        margin: 0 auto;
        margin-top: 146px;
        margin-bottom: 46px;

      }
      .content {
        opacity: 1;

        .description {
          opacity: 1;
          font-size: 14px;
          color: #231815;
          font-family: "ヒラギノ角ゴ Pro";
          line-height: 25px;

          &.graph1 {

          }
          &.graph2 {
            margin-top: 23px;
          }
          &.graph3 {
            margin-top: 17px;
          }
          &.graph4 {
            margin-top: 17px;
          }
          &.graph5 {
            margin-top: 17px;
          }
        }
      }
    }
  }
}

//Common component

//Vitural. After complete. Please delete it
.vitual {

  position: relative;
  min-height: 1px;

  @include huge-screen() {
    opacity: 1;

  }

  @include big-screen() {
    opacity: 1;

  }

  @include large-screen() {
    opacity: 1;

  }

  @include xs-screen() {
    opacity: 1;

  }
  @include medium-screen() {
    opacity: 1;

  }
  @include small-screen() {
    opacity: 1;

  }
  @include tiny-screen() {
    opacity: 1;

  }

  align-content: initial;
  align-items: initial;
  align-self: initial;
  all: initial;
  animation: initial;
  animation-delay: initial;
  animation-direction: initial;
  animation-duration: initial;
  animation-fill-mode: initial;
  animation-iteration-count: initial;
  animation-name: initial;
  animation-play-state: initial;
  animation-timing-function: initial;
  backface-visibility: initial;
  background: initial;
  background-attachment: initial;
  background-blend-mode: initial;
  background-clip: initial;
  background-color: initial;
  background-image: initial;
  background-origin: initial;
  background-position: initial;
  background-repeat: initial;
  background-size: initial;
  border: initial;
  border-bottom: initial;
  border-bottom-color: initial;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
  border-bottom-style: initial;
  border-bottom-width: initial;
  border-collapse: initial;
  border-color: initial;
  border-image: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-image-slice: initial;
  border-image-source: initial;
  border-image-width: initial;
  border-left: initial;
  border-left-color: initial;
  border-left-style: initial;
  border-left-width: initial;
  border-radius: initial;
  border-right: initial;
  border-right-color: initial;
  border-right-style: initial;
  border-right-width: initial;
  border-spacing: initial;
  border-style: initial;
  border-top: initial;
  border-top-color: initial;
  border-top-left-radius: initial;
  border-top-right-radius: initial;
  border-top-style: initial;
  border-top-width: initial;
  border-width: initial;
  bottom: initial;
  box-shadow: initial;
  box-sizing: initial;
  caption-side: initial;
  clear: initial;
  clip: initial;
  color: initial;
  column-count: initial;
  column-fill: initial;
  column-gap: initial;
  column-rule: initial;
  column-rule-color: initial;
  column-rule-style: initial;
  column-rule-width: initial;
  column-span: initial;
  column-width: initial;
  columns: initial;
  content: initial;
  counter-increment: initial;
  counter-reset: initial;
  cursor: initial;
  direction: initial;
  display: initial;
  empty-cells: initial;
  filter: initial;
  flex: initial;
  flex-basis: initial;
  flex-direction: initial;
  flex-flow: initial;
  flex-grow: initial;
  flex-shrink: initial;
  flex-wrap: initial;
  float: initial;
  font: initial;
  font-family: initial;
  font-size: initial;
  font-size-adjust: initial;
  font-stretch: initial;
  font-style: initial;
  font-variant: initial;
  font-weight: initial;
  hanging-punctuation: initial;
  height: initial;
  justify-content: initial;
  left: initial;
  letter-spacing: initial;
  line-height: initial;
  list-style: initial;
  list-style-image: initial;
  list-style-position: initial;
  list-style-type: initial;
  margin: initial;
  margin-bottom: initial;
  margin-left: initial;
  margin-right: initial;
  margin-top: initial;
  max-height: initial;
  max-width: initial;
  min-height: initial;
  min-width: initial;
  nav-down: initial;
  nav-index: initial;
  nav-left: initial;
  nav-right: initial;
  nav-up: initial;
  opacity: initial;
  order: initial;
  outline: initial;
  outline-color: initial;
  outline-offset: initial;
  outline-style: initial;
  outline-width: initial;
  overflow: initial;
  overflow-x: initial;
  overflow-y: initial;
  padding: initial;
  padding-bottom: initial;
  padding-left: initial;
  padding-right: initial;
  padding-top: initial;
  page-break-after: initial;
  page-break-before: initial;
  page-break-inside: initial;
  perspective: initial;
  perspective-origin: initial;
  position: initial;
  quotes: initial;
  resize: initial;
  right: initial;
  tab-size: initial;
  table-layout: initial;
  text-align: initial;
  text-align-last: initial;
  text-decoration: initial;
  text-decoration-color: initial;
  text-decoration-line: initial;
  text-decoration-style: initial;
  text-indent: initial;
  text-justify: initial;
  text-overflow: initial;
  text-shadow: initial;
  text-transform: initial;
  top: initial;
  transform: initial;
  transform-origin: initial;
  transform-style: initial;
  transition: initial;
  transition-delay: initial;
  transition-duration: initial;
  transition-property: initial;
  transition-timing-function: initial;
  unicode-bidi: initial;
  user-select: initial;
  vertical-align: initial;
  visibility: initial;
  white-space: initial;
  width: initial;
  word-break: initial;
  word-spacing: initial;
  word-wrap: initial;
  z-index: initial;

  &:active {
    opacity: 1;
  }
  &:checked {
    opacity: 1;
  }
  &:disabled {
    opacity: 1;
  }
  &:empty {
    opacity: 1;
  }
  &:enabled {
    opacity: 1;
  }
  &:first-child {
    opacity: 1;
  }
  &:first-of-type {
    opacity: 1;
  }
  &:focus {
    opacity: 1;
  }
  &:hover {
    opacity: 1;
  }
  &:in-range {
    opacity: 1;
  }
  &:invalid {
    opacity: 1;
  }
  &:lang(language) {
    opacity: 1;
  }
  &:last-child {
    opacity: 1;
  }
  &:last-of-type {
    opacity: 1;
  }
  &:link {
    opacity: 1;
  }
  &:not(selector) {
    opacity: 1;
  }
  &:nth-child(n) {
    opacity: 1;
  }
  &:nth-last-child(n) {
    opacity: 1;
  }
  &:nth-last-of-type(n) {
    opacity: 1;
  }
  &:nth-of-type(n) {
    opacity: 1;
  }
  &:only-of-type {
    opacity: 1;
  }
  &:only-child {
    opacity: 1;
  }
  &:optional {
    opacity: 1;
  }
  &:out-of-range {
    opacity: 1;
  }
  &:read-only {
    opacity: 1;
  }
  &:read-write {
    opacity: 1;
  }
  &:required {
    opacity: 1;
  }
  &:root {
    opacity: 1;
  }
  &:target {
    opacity: 1;
  }
  &:valid {
    opacity: 1;
  }
  &:visited {
    opacity: 1;
  }
  &::after {
    opacity: 1;
  }
  &::before {
    opacity: 1;
  }
  &::first-letter {
    opacity: 1;
  }
  &::first-line {
    opacity: 1;
  }
  &::selection {
    opacity: 1;
  }

}

