@import "../compass-mixins/lib/compass/css3";
@import "../../scss/compass/compass";
@import "../../scss/partial/component";
//Vitural. After complete. Please delete it
@import "../compass/helper_class";

//Common global style
* {
  @include cpn_header_banner_gazou();
  @include title_circle();
  @include cpn_title();
  @include cpn_cell_li();
}

.main-content {
  opacity: 1;

  .top_banner_gazou {
    opacity: 1;



  }
  .naiyou_page {
    opacity: 1;

    .aisatsu {
      opacity: 1;
      position: relative;

      &::after {
        content: url("../../img/about-us/aisatsu.png");
        display: block;
        clear: both;
        position: absolute;
        right: -33px;
        top: -35px;

        @include big-screen() {
          opacity: 1;
          right: 25px;
        }

        @include large-screen() {
          opacity: 1;

          margin-top: 22px;
          right: 0px;
          content: url("../../img/about-us/mb_aisatsu.png");
        }

        @include small-screen() {
          margin-top: 27px;
        }

        @include tiny-screen() {
          right: -12px;
        }
      }

      .text_aisatsu {
        font-family: $font-family-hiragino;
        width: 92%;
        font-size: 20px;;
        color: #231815;
        color: rgb(35, 24, 21);
        margin-top: 75px;
        margin-bottom: 61px;

        @include big-screen() {
          opacity: 1;
          width: 85%;
          text-align: justify;
          padding-left: 28px;
          padding-right: 48px;

        }

        @include large-screen() {
          opacity: 1;
          margin-top: 23px;
          padding-right: 26px;
        }

        @include small-screen() {
          @include paddingLeftRight(0);
          font-size: 16px;
          width: 74%;
        }
      }
    }

    .bunjochi {
      opacity: 1;

      @include big-screen() {
        @include paddingLeftRight(28);
      }

      @include small-screen() {
        @include paddingLeftRight(0);
      }

      .circle_title {
        display: table;
        margin: 0 auto;
      }
      .content {
        opacity: 1;
        margin-top: 127px;

        @include big-screen() {
          opacity: 1;

        }

        @include large-screen() {
          margin-top: 53px;
        }

        .bound_ul {
          opacity: 1;

        }
      }
    }

    .kaisha_gaiyou {
      opacity: 1;

      @include big-screen() {
        @include paddingLeftRight(28);
      }

      @include small-screen() {
        @include paddingLeftRight(0);
      }

      .circle_title {
        opacity: 1;
        display: table;
        margin: 0 auto;
        margin-bottom: 78px;
        margin-top: 137px;

        @include large-screen() {
          margin-top: 55px;
          margin-bottom: 55px;
        }

      }
      .content {
        opacity: 1;

        @include big-screen() {
          opacity: 1;
        }

        .bound_ul {
          opacity: 1;

          .cell_li_table {
            opacity: 1;

            border-bottom: 1px solid #B5B6B6;

            &:first-child {
              border-top: 1px solid #B5B6B6;
            }

            .before, .after {
              opacity: 1;

              font-family: $font-family-jp;
              font-size: 17px;
              line-height: 94px;
              color: #231815;
              color: rgb(35, 24, 21);
              display: inline-block;

              @include small-screen() {
                width: 100% !important;
              }
            }
            .before {
              opacity: 1;
              width: 128px;
              padding-left: 2px;

              @include small-screen() {
                opacity: 1;
                line-height: 37px;
                font-weight: bold;
              }

            }
            .after {
              opacity: 1;
              width: calc(100% - 134px);

              @include small-screen() {
                opacity: 1;
                padding-top: 2px !important;
                line-height: 30px !important;
                text-align: justify;
              }
            }

            &.double {
              opacity: 1;

              .before {
                vertical-align: top;
              }
              .after {
                line-height: 40px;
                padding-top: 27px;
                padding-bottom: 17px;
              }
            }
          }
        }
      }
    }

    .jigyou_naiyou {
      opacity: 1;

      @include big-screen() {
        @include paddingLeftRight(28);
      }

      @include small-screen() {
        @include paddingLeftRight(0);
      }

      .circle_title {
        opacity: 1;
        display: table;
        margin: 0 auto;
        margin-top: 87px;

        @include large-screen() {
          margin-top: 55px;
        }
      }
      .content1 {
        opacity: 1;

        .title {
          opacity: 1;
          margin-top: 55px;

          @include large-screen() {
            margin-top: 58px;
          }
        }

        .bounce_below {
          opacity: 1;
          margin-top: 58px;

          .description {
            opacity: 1;
            font-family: $font-family-jp;
            font-size: 21px;
            color: #231815;
            color: rgb(35, 24, 21);

            @include small-screen() {
              font-size: 17px;
              line-height: 30px;
            }

          }
          .bounce_image {
            opacity: 1;
            text-align: center;
            margin-top: 110px;

            @include small-screen() {
              opacity: 1;
              margin-top: 50px;
            }

            a {
              display: block;
              padding-left: 173px;

              @include large-screen() {
                padding-left: 64px;
              }

              @include iphone5s-landscape-screen() {
                padding-left: 0px;
              }

              @include small-screen() {
                text-align: left;
              }

              img {
                opacity: 1;

                &.pc {
                  opacity: 1;

                  @include small-screen() {
                    display: none;
                  }
                }
                &.phone {
                  display: none;

                  @include small-screen() {
                    display: inline-block;
                    width: 80%;
                  }
                }

              }
            }
          }
        }
      }
      .content2 {
        opacity: 1;

        .title {
          opacity: 1;
          margin-top: 124px;
        }

        .bounce_below {
          opacity: 1;
          margin-top: 52px;

          .description {
            opacity: 1;
            font-family: $font-family-jp;
            font-size: 21px;
            color: #231815;
            color: rgb(35, 24, 21);
            text-align: justify;

            @include small-screen() {
              font-size: 17px;
              line-height: 30px;
            }

          }
          .bounce_image {
            opacity: 1;
            text-align: center;
            margin-top: 71px;

            @include large-screen() {
              margin-top: 43px;
            }

            @include iphone5s-landscape-screen() {
              text-align: left;
            }

            a {
              display: block;
              padding-left: 173px;

              @include large-screen() {
                padding-left: 0px;
              }

              img {

                opacity: 1;

                @include small-screen() {
                  width: 100%;
                }

              }
            }
          }
        }
      }
    }

    .toiawase {
      opacity: 1;

      .circle_title {
        opacity: 1;
        display: table;
        margin: 0 auto;
        margin-top: 172px;

        @include large-screen() {
          margin-top: 77px;
        }
      }
      .content1 {
        opacity: 1;
        margin-top: 63px;

        @include large-screen() {
          margin-top: 73px;

        }
        .title {
          opacity: 1;

        }
        .tel_info {
          margin-top: 34px;
          opacity: 1;
          text-align: center;
          img.pc {
            opacity: 1;

            @include iphone5s-landscape-screen() {
              width: 95%;
            }

            @include small-screen() {
              opacity: 1;
              display: none;
            }

          }
          img.phone {
            display: none;

            @include small-screen() {
              display: inline-block;
            }
          }
        }
      }
      .content2 {
        opacity: 1;
        margin-top: 8px;
        .title {
          opacity: 1;

        }
        .form_info {
          opacity: 1;

          .formSubmit {
            opacity: 1;
            padding-right: 27px;

            @include large-screen() {
              @include paddingLeftRight(28);
            }

            @include small-screen() {
              @include paddingLeftRight(0);
            }

            .hitsuyou {
              opacity: 1;
              font-size: 14px;
              color: #E60012;
              color: rgb(230, 0, 18);
              text-align: right;

              margin-bottom: -2px;
              margin-top: 46px;
            }
            .form_content {
              opacity: 1;

              .cell_form {
                opacity: 1;
                @include clearfix();

                .before, .after {
                  opacity: 1;
                  margin-top: 7px;
                  margin-bottom: 7px;

                  @include small-screen() {
                    width: 100%!important;
                    text-align: left!important;
                  }

                }
                .before {
                  opacity: 1;
                  width: 190px;
                  float: left;
                  text-align: right;
                  padding-right: 23px;
                  margin-top: 23px;
                  font-weight: 700;

                  @include medium-screen() {
                    width: 155px;
                  }

                  .mark_hitsuyou {
                    font-size: 20px;
                    color: #E60012;
                    color: rgb(230, 0, 18);
                    display: inline-block;
                    width: 10px;
                    line-height: 0px;
                  }

                }
                .after {
                  opacity: 1;
                  float: left;
                  width: calc(100% - 190px);

                  @include medium-screen() {
                    width: calc(100% - 155px);
                  }

                  input, textarea {
                    width: 100%;

                  }
                  input {
                    height: 41px;
                  }
                  textarea {
                    height: 177px;
                  }
                }
              }
            }
          }

          .bounce_submit {
            opacity: 1;
            text-align: center;
            margin-top: 40px;

            @include large-screen() {
              margin-top: 53px;
            }

            .btn_submit_form {
              width: 253px;
              height: 50px;
              background-color: #438BCB;
              font-size: 25px;
              color: #FFFFFF;
              color: rgb(255, 255, 255);

              @include iphone5s-landscape-screen() {
                width: 171px;
              }
            }
          }
        }
      }
    }

    .privacy {
      opacity: 1;
      margin-bottom: 239px;

      @include big-screen() {
        @include paddingLeftRight(28);
      }
      @include large-screen() {
        margin-bottom: 90px;
      }

      @include small-screen() {
        @include paddingLeftRight(0);
      }

      .circle_title {
        opacity: 1;
        display: table;
        margin: 0 auto;
        margin-top: 146px;
        margin-bottom: 46px;

        @include large-screen() {
          margin-top: 80px;
        }

      }
      .content {
        opacity: 1;

        .description {
          opacity: 1;
          font-size: 14px;
          color: #231815;
          font-family: "ヒラギノ角ゴ Pro";
          line-height: 25px;
          text-align: justify;

          .hide_creative {
            opacity: 1;

            @include large-screen() {
              display: none;
            }
          }

          &.graph1 {

          }
          &.graph2 {
            margin-top: 23px;
          }
          &.graph3 {
            margin-top: 17px;
          }
          &.graph4 {
            margin-top: 17px;
          }
          &.graph5 {
            margin-top: 17px;
          }
        }
      }
    }
  }
}
//Common component


