<div class="fat-nav">
    <div class="top_nav_mb">
        <img src="/img/common/satya_mb.png" alt="Satya Logo" height="43">
    </div>
    <div class="fat-nav__wrapper">
        <ul>
            <li><a class="link" href="javascript:;">HOME <span>ホーム</span></a></li>
            <li><a class="link" href="javascript:;">PROJECT <span>事業内容　</span></a></li>
            <li><a class="link" href="javascript:;">SEARCH <span>分譲地</span></a></li>
            <li><a class="link" href="javascript:;">ABOUT US <span>会社概要</span></a></li>
            <li><a class="link" href="javascript:;">CONTACT <span>お問い合わせ</span></a></li>
        </ul>
    </div>
</div>
