<div class="pc_nav">
    <div class="nav_pos left_nav">
        <img class="logo_image" src="/img/common/web_logo.png" alt="Satya Logo">
        <img class="tel_logo" src="/img/common/web_tel.png" alt="Satya Tel">
    </div>
    <div class="nav_pos right_nav">
        <div class="nav_pure_css">
            <ul>
                <!--Add class active to a anchor tag if it's current page-->
                <li class="">
                    <a class="" href="#">
                        <div class="upper_link">HOME</div>
                        <div class="lower_link ui-box bottom-inOutSpread">ホーム</div>
                    </a>
                </li>
                <li class="">
                    <a class="" href="#">
                        <div class="upper_link">PROJECT</div>
                        <div class="lower_link ui-box bottom-inOutSpread">事業内容</div>
                    </a>
                </li>
                <li class="">
                    <a class="" href="#">
                        <div class="upper_link">SEARCH</div>
                        <div class="lower_link ui-box bottom-inOutSpread">分譲地</div>
                    </a>
                </li>
                <li class="">
                    <a class="" href="#">
                        <div class="upper_link">ABOUT US</div>
                        <div class="lower_link ui-box bottom-inOutSpread">会社概要</div>
                    </a>
                </li>
                <li class="">
                    <a class="" href="#">
                        <div class="upper_link">CONTACT</div>
                        <div class="lower_link ui-box bottom-inOutSpread">お問い合わせ</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
