@import "../compass-mixins/lib/compass/css3";
@import "../../scss/compass/compass";
@import "../../scss/partial/component";
//Vitural. After complete. Please delete it
@import "../compass/helper_class";

//Common global style
.circle-text {
  @include circle-text();
}
.main-content {
  opacity: 1;

  .top_banner {
    opacity: 1;

    height: 200px;
    background-color: gray;

  }
  .naiyou_page {
    opacity: 1;

    .kittsu {
      margin-top: 22px;
      color: #673A1B;
      text-align: right;
      margin-bottom: 28px;
      font-weight: bold;
    }

    .slogan {
      font-family: " ヒラギノ角ゴ Pro W3 ", " Hiragino Kaku Gothic Pro ", Osaka, " メイリオ ", Meiryo, " ＭＳ Ｐゴシック ", " MS PGothic ", sans-serif;
      font-size: 19px;
      line-height: 30px;
      color: #5A5858;
      letter-spacing: -1px;
      padding-left: 48px;
      padding-right: 48px;

      .pink_text {
        color: #EA5539;
      }
    }

    .aloha_askout {
      opacity: 1;
      text-align: center;
      position: relative;

      &::before {
        content: url("/img/home/askout.png");
        position: absolute;
        left: 0;
        top: 12px;
      }

      .search {
        font-family: $font-family-hiragino;
        font-size: 20px;
        letter-spacing: 2px;
        color: #FFFFFF;
        color: rgb(255, 255, 255);
        width: 340px;
        height: 46px;
        background-color: #E83918;
        outline: none;
        border-radius: $boder_radius_btn;
        margin-top: 51px;
        margin-bottom: 50px;

      }
      .osumai {
        font-family: $font-family-gothic;
        font-size: 15px;
        line-height: 24px;
        color: #231815;
        color: rgb(35, 24, 21);
      }
    }

    .max_search {
      position: relative;
      text-align: center;
      opacity: 1;
      margin-top: 161px;
      height: 139px;
      background: url("/img/home/banner_horizontal.png") repeat-x;

      .bounce_img {
        display: inline-block;
        position: absolute;
        top: -106px;
        left: 0;
        right: 0;

        a.middle {
          margin-left: 33px;
          margin-right: 33px;
        }
      }
    }

    .search_usage {
      opacity: 1;

      .upper_box_search {
        opacity: 1;
        font-size: 20px;
        line-height: 30px;
        color: #5A5858;
        color: rgb(90, 88, 88);
        letter-spacing: -1px;
        width: 900px;
        margin: 0 auto;
        margin-top: 133px;
        margin-bottom: 41px;

        .pink_text {
          color: #E83918;
        }
      }
      .search_button_div {
        opacity: 1;
        text-align: center;
        position: relative;

        &::after {
          content: url("/img/home/aisatsu.png");
          position: absolute;
          right: 0;
          top: -57px;
        }

        .btn_search {
          opacity: 1;
          font-size: 20px;
          letter-spacing: 2px;
          color: #FFFFFF;
          color: rgb(255, 255, 255);
          width: 340px;
          height: 48px;
          border-radius: $boder_radius_btn;
          background-color: #E83918;
        }
      }

      .lower_box_search {
        font-size: 15px;
        line-height: 24px;
        color: #231815;
        color: rgb(35, 24, 21);
        text-align: center;
        margin-top: 52px;
        margin-bottom: 66px;
      }

      .bounce_way {
        opacity: 1;
        @include clearfix();

        @include col-options("cell_div", 5, 9);

        img {
          width: 100%;
        }
      }

    }

    .project {
      opacity: 1;
      .button_project {
        opacity: 1;
        text-align: center;
        margin-top: 78px;
        margin-bottom: 58px;
        .btn_prj {
          opacity: 1;
          width: 340px;
          height: 48px;
          border-radius: $boder_radius_btn;
          background-color: transparent;
          border: 1px solid #E83918;

        }
      }
      .bounce_ctn_prj {
        opacity: 1;
        @include col-options("cell_prj", 2, 5);

        .cell_prj {
          opacity: 1;

          img {
            width: 100%;
          }

        }
      }
    }


    .map {
      opacity: 1;
      margin-bottom: 72px;

      .button_map {
        opacity: 1;
        text-align: center;

        .btn_map {
          opacity: 1;
          width: 340px;
          height: 48px;
          border-radius: $boder_radius_btn;
          background-color: transparent;
          border: 1px solid #E83918;
          margin-top: 92px;
          margin-bottom: 68px;

        }
      }
      .google_map {
        opacity: 1;
        width: 736px;
        height: 501px;
        background-color: rgba(0, 0, 0, 0.02);
        margin: 0 auto;
      }
    }
  }
}

//Vitural. After complete. Please delete it
.vitual {

  position: relative;
  min-height: 1px;

  @include huge-screen() {
    opacity: 1;

  }

  @include big-screen() {
    opacity: 1;

  }

  @include large-screen() {
    opacity: 1;

  }

  @include xs-screen() {
    opacity: 1;

  }
  @include medium-screen() {
    opacity: 1;

  }
  @include small-screen() {
    opacity: 1;

  }
  @include tiny-screen() {
    opacity: 1;

  }

  align-content: initial;
  align-items: initial;
  align-self: initial;
  all: initial;
  animation: initial;
  animation-delay: initial;
  animation-direction: initial;
  animation-duration: initial;
  animation-fill-mode: initial;
  animation-iteration-count: initial;
  animation-name: initial;
  animation-play-state: initial;
  animation-timing-function: initial;
  backface-visibility: initial;
  background: initial;
  background-attachment: initial;
  background-blend-mode: initial;
  background-clip: initial;
  background-color: initial;
  background-image: initial;
  background-origin: initial;
  background-position: initial;
  background-repeat: initial;
  background-size: initial;
  border: initial;
  border-bottom: initial;
  border-bottom-color: initial;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
  border-bottom-style: initial;
  border-bottom-width: initial;
  border-collapse: initial;
  border-color: initial;
  border-image: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-image-slice: initial;
  border-image-source: initial;
  border-image-width: initial;
  border-left: initial;
  border-left-color: initial;
  border-left-style: initial;
  border-left-width: initial;
  border-radius: initial;
  border-right: initial;
  border-right-color: initial;
  border-right-style: initial;
  border-right-width: initial;
  border-spacing: initial;
  border-style: initial;
  border-top: initial;
  border-top-color: initial;
  border-top-left-radius: initial;
  border-top-right-radius: initial;
  border-top-style: initial;
  border-top-width: initial;
  border-width: initial;
  bottom: initial;
  box-shadow: initial;
  box-sizing: initial;
  caption-side: initial;
  clear: initial;
  clip: initial;
  color: initial;
  column-count: initial;
  column-fill: initial;
  column-gap: initial;
  column-rule: initial;
  column-rule-color: initial;
  column-rule-style: initial;
  column-rule-width: initial;
  column-span: initial;
  column-width: initial;
  columns: initial;
  content: initial;
  counter-increment: initial;
  counter-reset: initial;
  cursor: initial;
  direction: initial;
  display: initial;
  empty-cells: initial;
  filter: initial;
  flex: initial;
  flex-basis: initial;
  flex-direction: initial;
  flex-flow: initial;
  flex-grow: initial;
  flex-shrink: initial;
  flex-wrap: initial;
  float: initial;
  font: initial;
  font-family: initial;
  font-size: initial;
  font-size-adjust: initial;
  font-stretch: initial;
  font-style: initial;
  font-variant: initial;
  font-weight: initial;
  hanging-punctuation: initial;
  height: initial;
  justify-content: initial;
  left: initial;
  letter-spacing: initial;
  line-height: initial;
  list-style: initial;
  list-style-image: initial;
  list-style-position: initial;
  list-style-type: initial;
  margin: initial;
  margin-bottom: initial;
  margin-left: initial;
  margin-right: initial;
  margin-top: initial;
  max-height: initial;
  max-width: initial;
  min-height: initial;
  min-width: initial;
  nav-down: initial;
  nav-index: initial;
  nav-left: initial;
  nav-right: initial;
  nav-up: initial;
  opacity: initial;
  order: initial;
  outline: initial;
  outline-color: initial;
  outline-offset: initial;
  outline-style: initial;
  outline-width: initial;
  overflow: initial;
  overflow-x: initial;
  overflow-y: initial;
  padding: initial;
  padding-bottom: initial;
  padding-left: initial;
  padding-right: initial;
  padding-top: initial;
  page-break-after: initial;
  page-break-before: initial;
  page-break-inside: initial;
  perspective: initial;
  perspective-origin: initial;
  position: initial;
  quotes: initial;
  resize: initial;
  right: initial;
  tab-size: initial;
  table-layout: initial;
  text-align: initial;
  text-align-last: initial;
  text-decoration: initial;
  text-decoration-color: initial;
  text-decoration-line: initial;
  text-decoration-style: initial;
  text-indent: initial;
  text-justify: initial;
  text-overflow: initial;
  text-shadow: initial;
  text-transform: initial;
  top: initial;
  transform: initial;
  transform-origin: initial;
  transform-style: initial;
  transition: initial;
  transition-delay: initial;
  transition-duration: initial;
  transition-property: initial;
  transition-timing-function: initial;
  unicode-bidi: initial;
  user-select: initial;
  vertical-align: initial;
  visibility: initial;
  white-space: initial;
  width: initial;
  word-break: initial;
  word-spacing: initial;
  word-wrap: initial;
  z-index: initial;

  &:active {
    opacity: 1;
  }
  &:checked {
    opacity: 1;
  }
  &:disabled {
    opacity: 1;
  }
  &:empty {
    opacity: 1;
  }
  &:enabled {
    opacity: 1;
  }
  &:first-child {
    opacity: 1;
  }
  &:first-of-type {
    opacity: 1;
  }
  &:focus {
    opacity: 1;
  }
  &:hover {
    opacity: 1;
  }
  &:in-range {
    opacity: 1;
  }
  &:invalid {
    opacity: 1;
  }
  &:lang(language) {
    opacity: 1;
  }
  &:last-child {
    opacity: 1;
  }
  &:last-of-type {
    opacity: 1;
  }
  &:link {
    opacity: 1;
  }
  &:not(selector) {
    opacity: 1;
  }
  &:nth-child(n) {
    opacity: 1;
  }
  &:nth-last-child(n) {
    opacity: 1;
  }
  &:nth-last-of-type(n) {
    opacity: 1;
  }
  &:nth-of-type(n) {
    opacity: 1;
  }
  &:only-of-type {
    opacity: 1;
  }
  &:only-child {
    opacity: 1;
  }
  &:optional {
    opacity: 1;
  }
  &:out-of-range {
    opacity: 1;
  }
  &:read-only {
    opacity: 1;
  }
  &:read-write {
    opacity: 1;
  }
  &:required {
    opacity: 1;
  }
  &:root {
    opacity: 1;
  }
  &:target {
    opacity: 1;
  }
  &:valid {
    opacity: 1;
  }
  &:visited {
    opacity: 1;
  }
  &::after {
    opacity: 1;
  }
  &::before {
    opacity: 1;
  }
  &::first-letter {
    opacity: 1;
  }
  &::first-line {
    opacity: 1;
  }
  &::selection {
    opacity: 1;
  }

}

