@import "../compass-mixins/lib/compass/css3";
@import "../../scss/compass/compass";
@import "../../scss/partial/component";
//Vitural. After complete. Please delete it
@import "../compass/helper_class";

//Common global style
* {
  @include cpn_header_banner_gazou();
  @include cpn_title();
  @include cpn_cell_li();
  @include cpn_green_title();
}

.main-content {
  opacity: 1;

  .top_banner_gazou {
    opacity: 1;

  }

  .naiyou_page {
    opacity: 1;

    .bunjirokara {
      opacity: 1;

      @include xs-screen() {
        @include paddingLeftRight(18);

      }

      @include small-screen() {
        @include paddingLeftRight(0);
      }

      .title {
        opacity: 1;
        margin-top: 85px;
      }
      .bound_green_title {
        opacity: 1;
        margin-top: 66px;
      }

      .bounce_navigation {
        margin-top: 76px;
        margin-bottom: 207px;

        @include xs-screen() {
          margin-top: 38px;
        }


        .device_union {
          opacity: 1;

          @include xs-screen() {
            width: 100%;
          }

        }
      }

      .bounce_buirochi {
        opacity: 1;
        position: relative;
        margin-bottom: 200px;

        @include small-screen() {
          margin-bottom: 100px;
        }

        &::after {
          position: absolute;
          content: url("../../img/search/akkushuu.png");
          top: -165px;
          right: -16px;

          @include xs-screen() {
            right: 70px;
            content: url("../../img/search/mb_akkushuu.png");
          }

          @include small-screen() {
            right: 0px;
          }
        }

        .bound_ul {
          opacity: 1;
        }
      }
    }
  }
}

// CSS for navigation vertical bar
.navigation {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
}

.navigation ul,
.navigation ul li,
.navigation ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation ul {
  position: relative;
  z-index: 500;
  float: left;
}

.navigation ul li {
  float: left;
  height: 38px;
  vertical-align: middle;
  position: relative;

  border-left: 1px solid #9FA0A0;
  border-right: 1px solid #9FA0A0;
  border-top: 1px solid #9FA0A0;

  &:last-child {
    border-bottom: 1px solid #9FA0A0;
  }
}

.navigation ul li.hover,
.navigation ul li:hover {
  position: relative;
  z-index: 510;
  cursor: default;
}

.navigation ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 520;
  //width: 100%;
}

.navigation ul ul li {
  float: none;
}

.navigation ul ul ul {
  top: 0;
  right: 0;
}

.navigation ul li:hover > ul {
  visibility: visible;
  border: none;
}

.navigation ul ul {
  top: -1px;
  left: 99%;

  @include xs-screen() {
    left: 100%;
  }
}

.navigation ul li {
  float: none;
}

.navigation ul ul {
  //margin-top: 0.05em;
}

.navigation {
  //width: 13em;
  background: transparent;
  font-family: 'roboto', Tahoma, Arial, sans-serif;
  zoom: 1;

  @include xs-screen() {
    padding-left: 110px;
  }

  @include small-screen() {
    padding-left: 0px;
  }
}

.navigation:before {
  content: '';
  display: block;
}

.navigation:after {
  content: '';
  display: table;
  clear: both;
}

.navigation a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  padding-left: 20px;
  line-height: 38px;

  @include iphone5s-landscape-screen() {
    padding-left: 10px;
  }
}

.navigation > ul {
  width: 161px;

  @include xs-screen() {
    width: 161px;
  }

  @include iphone5s-landscape-screen() {
    width: 119px;
  }
}

.navigation ul ul {
  //width: 13em;
}

.navigation > ul > li > a {
  font-family: 小塚ゴシック Pr6N;
  font-size: 15px;
  color: #3F3B3A;
  color: rgb(63, 59, 58);
}

.navigation > ul > li > a:hover {
  color: #ffffff;
}

.navigation > ul > li a:hover,
.navigation > ul > li:hover a {
  background: #65AADD;
}
.navigation > ul > li > ul > li a:hover {
  background-color: #DDDDDD!important;
}

.navigation > ul > li > ul > li > a {
  background-color: #F8F8F8!important;
  color : #231815;
  color : rgb(35, 24, 21);
  border: 1px solid #9FA0A0;

  &.nagai {
    opacity: 1;
    line-height: 22px;

    @include xs-screen() {
      line-height: 38px;
    }
  }
}
.navigation > ul > li > ul > li:first-child > a {
  background-color: #ffffff!important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color : #65AADD;
  color : rgb(101, 170, 221);
}
.navigation > ul > li > ul > li:last-child > a {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.navigation li {
  position: relative;
}

.navigation ul li.has-sub > a:after {
  content: url("../../img/search/arrow_left.png");
  position: absolute;
  right: 14px;
  top: 6px;
}

.navigation ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.navigation ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}

.navigation ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.navigation ul ul {
  //border: 1px solid #34A65F;
}

.navigation ul ul a {
  color: #ffffff;
}

.navigation ul ul a:hover {
  color: #ffffff;
}

.navigation ul ul li {
  border-bottom: 1px solid #0F8A5F;
  width: 298px;
  border: none;

  @include large-screen() {
    opacity: 1;
    width: 185px;
  }

  @include xs-screen() {
    width: 300px;
  }

  @include small-screen() {
    width: calc(100vw - 119px - 30px);
  }
}

.navigation ul ul li:hover > a {
  background: #4eb1ff;
  color: #ffffff;
}

.navigation.align-right > ul > li > a {
  //border-left: 0.3em solid #34A65F;
  border-right: none;
}

.navigation.align-right {
  float: right;
}

.navigation.align-right li {
  text-align: right;
}

.navigation.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}

.navigation.align-right ul li.has-sub > a:after {
  content: none;
}

.navigation.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}

.navigation.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}

.navigation.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}

.navigation.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}



//Media Query specifics
@include xs-screen() {
  .device_union:first-of-type .navigation ul li:last-child {
    border-bottom: none;
  }
}
