@import "../compass-mixins/lib/compass/css3";
@import "../../scss/compass/compass";
@import "../../scss/partial/component";
//Vitural. After complete. Please delete it
@import "../compass/helper_class";

* {
  @include cpn_header_banner_gazou();
}

.main-content {
  opacity: 1;

  .top_banner {
    opacity: 1;

    height: 200px;
    background-color: gray;

  }
  .naiyou_page {
    opacity: 1;

    .bound_ul {
      opacity: 1;
      margin-top: 59px;

      @include xs-screen() {
        @include paddingLeftRight(15);
      }

      @include small-screen() {
        @include paddingLeftRight(0);
      }

      .cell_li {
        opacity: 1;
        height: 78px;
        border-bottom: 1px solid #B5B6B6;
        padding-left: 31px;
        position: relative;

        @include small-screen() {
          padding-left: 0px;
        }

        &:first-child {
          border-top: 1px solid #B5B6B6;
        }

        .label_rui {
          opacity: 1;
          width: 73px;
          height: 35px;
          background-color: #E60012;
          display: inline-block;
          font-family: $font-family-jp;
          font-size: 14px;
          color: #FFFFFF;
          color: rgb(255, 255, 255);
          line-height: 35px;
          text-align: center;
          margin-top: 22px;
        }
        .description_rui {
          font-family: $font-family-jp;
          font-size: 30px;
          color: #438BCB;
          color: rgb(67, 139, 203);
          display: inline-block;
          margin-left: 30px;
          vertical-align: middle;

          @include iphone5s-landscape-screen() {
            font-size: 23px;
          }

          @include small-screen() {
            margin-left: 9px;
          }
        }
      }
    }

    .bunjochi_detail {
      opacity: 1;

      @include xs-screen() {
        @include paddingLeftRight(15);
      }
      @include small-screen() {
        @include paddingLeftRight(0);
      }

      .detail_li {
        opacity: 1;

        .bound_detail {
          opacity: 1;

          .kugazu {
            opacity: 1;
            margin-top: 64px;

            .title_blue {
              opacity: 1;
            }
            .img_kugazu {
              width: 864px;
              height: 100%;
              margin: 0 auto;
              margin-top: 28px;

              @include large-screen() {
                width: 100%;
              }

              img {
                width: 100%;
              }
            }
          }

          .butsuken {
            opacity: 1;

            .title_blue {
              opacity: 1;
              margin-bottom: 57px;
              margin-top: 88px;
            }

            .bounce_butsuken {
              opacity: 1;
              margin: 0 auto;
              width: 693px;

              @include xs-screen() {
                width: 100%;

              }

              ul li.cell_li_child {
                opacity: 1;
                border-bottom: 1px solid #B5B6B6;

                &:first-child {
                  border-top: 1px solid #B5B6B6;
                }

                .before, .after {
                  opacity: 1;
                  font-family: $font-family-jp;
                  font-size: 15px;
                  line-height: 65px;
                  color: #231815;
                  color: rgb(35, 24, 21);
                }
                .before {
                  opacity: 1;
                  width: 198px;
                  display: inline-block;
                  padding-left: 24px;

                  @include small-screen() {
                    opacity: 1;
                    width: 138px;
                    padding-left: 0px;
                    float: left;
                  }
                }
                .after {
                  opacity: 1;

                  @include small-screen() {
                    width: calc(100% - 138px);
                    display: inline-block;
                    float: left;

                    @include blance_middle_lineheight(15, 65);

                  }
                }

                @include small-screen() {
                  @include clearfix();
                }
              }
            }
          }

          .kakaku {
            opacity: 1;

            .title_blue {
              opacity: 1;
              margin-bottom: 57px;
              margin-top: 88px;
            }

            .bounce_kakaku {
              opacity: 1;
              margin: 0 auto;
              width: 693px;

              @include xs-screen() {
                width: 100%;
              }

              ul li.cell_li_child {
                opacity: 1;
                border-bottom: 1px solid #B5B6B6;

                &:first-child {
                  border-top: 1px solid #B5B6B6;
                }

                .before, .after {
                  font-family: 小塚ゴシック Pr6N;
                  opacity: 1;
                  font-family: $font-family-jp;
                  font-size: 15px;
                  line-height: 65px;
                  color: #231815;
                  color: rgb(35, 24, 21);

                  @include small-screen() {
                    display: inline-block;
                    float: left;
                  }
                }
                .before {
                  opacity: 1;
                  width: 118px;
                  display: inline-block;
                  padding-left: 24px;
                  font-weight: bold;

                  @include small-screen() {
                    width: 98px;
                    padding-left: 0px;
                  }
                }
                .after {
                  opacity: 1;

                  @include small-screen() {
                    width: calc(100% - 98px);

                    @include blance_middle_lineheight(15, 65);
                  }
                }

                @include small-screen() {
                  @include clearfix();
                }
              }
            }
          }
          .map {
            opacity: 1;

            .title_blue {
              opacity: 1;
              margin-bottom: 77px;
              margin-top: 77px;
            }

            .bounce_map {
              opacity: 1;

              img {
                width: 100%;
              }
            }
          }

          .shiryou_download {
            opacity: 1;
            margin-top: 62px;
            margin-bottom: 138px;

            .btn_download {
              opacity: 1;
              width: 597px;
              height: 54px;
              background-color: #65AADD;
              display: block;
              font-family: $font-family-hiragino;
              font-size: 20px;
              line-height: 54px;
              color: #FFFFFF;
              color: rgb(255, 255, 255);
              text-align: center;
              margin: 0 auto;

              @include medium-screen() {
                width: 400px;
              }

              @include small-screen() {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
//Common Class
.title_blue {
  width: 157px;
  height: 43px;
  background-color: #00AF84;
  border-radius: 11px;
  line-height: 45px;
  font-size: 20px;
  color: #FFFFFF;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0 auto;
}

