@charset "UTF-8";
* .cpn_header_banner_gazou {
  opacity: 1;
  height: 512px;
  width: 100%;
  background: url("../../img/common/banner_gazou.png") center;
  background-size: cover;
  position: relative; }
  * .cpn_header_banner_gazou .text_float {
    opacity: 1;
    position: absolute;
    top: 39px;
    right: 255px; }
    @media only screen and (max-width: 1600px) {
      * .cpn_header_banner_gazou .text_float {
        right: 155px; } }
    @media only screen and (max-width: 1400px) {
      * .cpn_header_banner_gazou .text_float {
        opacity: 1;
        right: 100px; } }
    @media only screen and (max-width: 1024px) {
      * .cpn_header_banner_gazou .text_float {
        opacity: 1;
        right: 15px;
        top: 15px; } }
    @media only screen and (max-width: 960px) {
      * .cpn_header_banner_gazou .text_float {
        width: 472px;
        text-align: justify; } }
    @media only screen and (max-width: 480px) {
      * .cpn_header_banner_gazou .text_float {
        opacity: 1;
        left: 0;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px; } }
    * .cpn_header_banner_gazou .text_float .p_text {
      opacity: 1;
      font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
      font-size: 25px;
      color: #438BCB;
      color: #438bcb; }
      @media only screen and (max-width: 480px) {
        * .cpn_header_banner_gazou .text_float .p_text {
          opacity: 1;
          font-size: 23px; } }
      * .cpn_header_banner_gazou .text_float .p_text .break_magic {
        opacity: 1; }
        @media only screen and (max-width: 960px) {
          * .cpn_header_banner_gazou .text_float .p_text .break_magic {
            display: none; } }

* .cpn_title {
  opacity: 1;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 25px;
  color: #438BCB;
  color: #438bcb;
  width: 316px;
  margin: 0 auto;
  text-align: center; }
  @media only screen and (max-width: 480px) {
    * .cpn_title {
      opacity: 1;
      width: 210px;
      font-size: 20px; } }
  * .cpn_title:after {
    content: '';
    display: block;
    clear: both;
    height: 9px;
    background-color: #CACACB;
    margin-top: 12px; }

* .cell_li {
  opacity: 1;
  height: 95px;
  border-bottom: 1px solid #B5B6B6;
  padding-left: 3px;
  position: relative; }
  @media only screen and (max-width: 480px) {
    * .cell_li {
      opacity: 1;
      height: 75px;
      padding-left: 0px; } }
  * .cell_li:first-child {
    border-top: 1px solid #B5B6B6; }
  * .cell_li:after {
    position: absolute;
    right: 0;
    top: 31px;
    content: url("../../img/about-us/arrow_left.png");
    clear: both; }
    @media only screen and (max-width: 480px) {
      * .cell_li:after {
        top: 52px;
        zoom: 55%; } }
    @media only screen and (max-width: 320px) {
      * .cell_li:after {
        display: none; } }
  * .cell_li .label_rui {
    opacity: 1;
    width: 100px;
    height: 48px;
    background-color: #E60012;
    display: inline-block;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    color: white;
    line-height: 48px;
    text-align: center;
    margin-top: 22px; }
    * .cell_li .label_rui.gray_item {
      background-color: #9FA0A0; }
    @media only screen and (max-width: 480px) {
      * .cell_li .label_rui {
        opacity: 1;
        font-size: 12px;
        width: 48px;
        line-height: 30px;
        height: 30px; } }
  * .cell_li .description_rui {
    display: inline-block;
    margin-left: 15px; }
    @media only screen and (max-width: 480px) {
      * .cell_li .description_rui {
        margin-left: 0px; } }
    * .cell_li .description_rui a {
      text-underline: none;
      font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
      font-size: 21px;
      color: #231815;
      color: #231815; }
      * .cell_li .description_rui a:hover, * .cell_li .description_rui a:visited, * .cell_li .description_rui a:link, * .cell_li .description_rui a:active {
        text-decoration: none; }
      @media only screen and (max-width: 480px) {
        * .cell_li .description_rui a {
          font-size: 15px; } }

* .cpn_green_title {
  width: 100%;
  background-color: #ABCD03;
  height: 46px;
  line-height: 46px;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  color: white;
  text-align: center; }
  @media only screen and (max-width: 480px) {
    * .cpn_green_title {
      font-size: 17px; } }
  @media only screen and (max-width: 320px) {
    * .cpn_green_title {
      font-size: 14px; } }

.main-content {
  opacity: 1; }
  .main-content .top_banner {
    opacity: 1;
    height: 200px;
    background-color: gray; }
  .main-content .naiyou_page {
    opacity: 1;
    margin-bottom: 270px; }
    @media only screen and (max-width: 960px) {
      .main-content .naiyou_page {
        margin-bottom: 100px; } }
    .main-content .naiyou_page .eki_kara {
      opacity: 1; }
      .main-content .naiyou_page .eki_kara .title {
        opacity: 1;
        margin-top: 86px;
        margin-bottom: 67px; }
        @media only screen and (max-width: 960px) {
          .main-content .naiyou_page .eki_kara .title {
            margin-top: 50px;
            margin-bottom: 66px; } }
      .main-content .naiyou_page .eki_kara .bound_green_title {
        opacity: 1; }
      .main-content .naiyou_page .eki_kara .bounce_navigation {
        opacity: 1;
        position: relative; }
        .main-content .naiyou_page .eki_kara .bounce_navigation::after {
          content: url("../../img/search_eki/stand_aisatsu.png");
          position: absolute;
          top: 40px;
          right: 27px; }
          @media only screen and (max-width: 767px) {
            .main-content .naiyou_page .eki_kara .bounce_navigation::after {
              display: none; } }
        .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list {
          opacity: 1; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list:before, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list:after {
            content: "";
            display: table; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list:after {
            clear: both; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list.bounce_list_1 {
            opacity: 1;
            margin-top: 35px; }
            @media only screen and (max-width: 767px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list.bounce_list_1 {
                margin-top: 16px;
                padding-left: 40px;
                padding-right: 40px; } }
            @media only screen and (max-width: 570px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list.bounce_list_1 {
                padding-left: 10px;
                padding-right: 10px; } }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list.bounce_list_2 {
            opacity: 1;
            margin-top: 71px; }
            @media only screen and (max-width: 767px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list.bounce_list_2 {
                padding-left: 40px;
                padding-right: 40px; } }
            @media only screen and (max-width: 570px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list.bounce_list_2 {
                padding-left: 10px;
                padding-right: 10px; } }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col {
            opacity: 1;
            float: left; }
            @media only screen and (max-width: 480px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col {
                margin-top: 11px; } }
            .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell {
              opacity: 1; }
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell:before, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell:after {
                content: "";
                display: table; }
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell:after {
                clear: both; }
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .half, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full {
                opacity: 1; }
                .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .half a, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full a {
                  font-family: 小塚ゴシック Pr6N;
                  font-size: 20px;
                  color: #231815;
                  color: #231815;
                  text-decoration: underline;
                  line-height: 34px; }
                  @media only screen and (max-width: 680px) {
                    .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .half a, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full a {
                      font-size: 17px; } }
                  .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .half a:hover, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full a:hover {
                    color: #65AADD; }
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .half {
                opacity: 1;
                width: 50%;
                float: left; }
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full {
                opacity: 1;
                width: 100%; }
                .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full.header_tit {
                  opacity: 1; }
                  .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full.header_tit a {
                    font-family: HiraKakuProN W6-83pv-RKSJ-H;
                    font-size: 18px;
                    color: #008982;
                    color: #008982; }
                    .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full.header_tit a:hover, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full.header_tit a:visited, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full.header_tit a:link, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full.header_tit a:active {
                      text-decoration: none; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_1 {
            margin-left: 117px;
            opacity: 1;
            width: 185px; }
            @media only screen and (max-width: 960px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_1 {
                margin-left: 10px; } }
            @media only screen and (max-width: 767px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_1 {
                margin-left: 0px; } }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_2 {
            width: 134px;
            margin-left: 21px; }
            @media only screen and (max-width: 960px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_2 {
                width: 110px; } }
            @media only screen and (max-width: 320px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_2 {
                width: 60px; } }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_3 {
            width: 330px; }
            @media only screen and (max-width: 767px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_3 {
                width: 300px; } }
            @media only screen and (max-width: 680px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_3 {
                width: 239px; } }
            @media only screen and (max-width: 570px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_3 {
                width: 197px; } }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_4 {
            opacity: 1;
            margin-left: 117px;
            width: 210px; }
            @media only screen and (max-width: 960px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_4 {
                margin-left: 10px; } }
            @media only screen and (max-width: 767px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_4 {
                margin-left: 0px; } }
            @media only screen and (max-width: 480px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_4 {
                width: 100%; } }
            @media only screen and (max-width: 480px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_4 .row_cell {
                width: 50%;
                float: left; } }
            .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_4 .row_cell:first-child {
              width: 100%; }
            .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_4 .full:not(.header_tit) {
              padding-left: 21px; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_5 {
            width: 216px; }
            .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_5 .full:not(.header_tit) {
              padding-left: 24px; }
            @media only screen and (max-width: 570px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_5 {
                width: 162px; } }
            @media only screen and (max-width: 320px) {
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_5 {
                width: 134px; } }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_6 .full:not(.header_tit) {
            padding-left: 20px; }
      .main-content .naiyou_page .eki_kara .route_map {
        text-align: center;
        margin-top: 72px;
        position: relative; }
        .main-content .naiyou_page .eki_kara .route_map::after {
          opacity: 1; }
          @media only screen and (max-width: 767px) {
            .main-content .naiyou_page .eki_kara .route_map::after {
              position: absolute;
              content: url("../../img/search_eki/mb_shoe_show.png");
              right: 59px;
              top: -27px; } }
          @media only screen and (max-width: 480px) {
            .main-content .naiyou_page .eki_kara .route_map::after {
              right: 0px; } }
        .main-content .naiyou_page .eki_kara .route_map a {
          outline: none; }
          .main-content .naiyou_page .eki_kara .route_map a img {
            opacity: 1;
            outline: none;
            border: none; }
        .main-content .naiyou_page .eki_kara .route_map .img_des {
          opacity: 1;
          text-align: center;
          font-family: HiraKakuProN W3-83pv-RKSJ-H;
          font-size: 21px;
          color: #727171;
          color: #727171;
          margin-top: 23px; }
      .main-content .naiyou_page .eki_kara .bounce_result {
        opacity: 1;
        margin-top: 147px; }
        @media only screen and (max-width: 767px) {
          .main-content .naiyou_page .eki_kara .bounce_result {
            margin-top: 90px; } }
        .main-content .naiyou_page .eki_kara .bounce_result .bounce_buirochi_kara {
          opacity: 1; }
          .main-content .naiyou_page .eki_kara .bounce_result .bounce_buirochi_kara .list {
            margin-bottom: 27px;
            opacity: 1;
            font-family: ヒラギノ角ゴ Pro;
            font-size: 16px;
            line-height: 21px;
            color: #231815;
            color: #231815;
            font-weight: 700; }
          .main-content .naiyou_page .eki_kara .bounce_result .bounce_buirochi_kara .bound_ul {
            opacity: 1; }
          .main-content .naiyou_page .eki_kara .bounce_result .bounce_buirochi_kara .no-result {
            opacity: 1;
            font-size: 20px; }

/*# sourceMappingURL=search_eki.css.map */
