@charset "UTF-8";
@import url(../../css/lib.min.css);
@import url(../../css/common/style.css);
.hamburger {
  opacity: 1;
  display: none; }
  @media only screen and (max-width: 767px) {
    .hamburger {
      display: block;
      width: 54px;
      height: 54px;
      position: fixed;
      top: 6px;
      right: 0;
      z-index: 10000;
      padding: 12px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      -webkit-tap-highlight-color: transparent;
      -ms-touch-action: manipulation;
      touch-action: manipulation; } }

.hamburger__icon {
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px; }

.hamburger__icon, .hamburger__icon:before, .hamburger__icon:after {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #222;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }

.hamburger__icon:before, .hamburger__icon:after {
  position: absolute;
  content: ""; }

.hamburger__icon:before {
  top: -7px; }

.hamburger__icon:after {
  top: 7px; }

.active .hamburger__icon {
  background-color: transparent; }

.active .hamburger__icon:before, .active .hamburger__icon:after {
  background-color: #fff; }

.active .hamburger__icon:before {
  -moz-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -webkit-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg); }

.active .hamburger__icon:after {
  -moz-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -webkit-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg); }

.fat-nav {
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: #727171;
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.fat-nav__wrapper {
  width: 100%;
  height: calc(100% - 56px);
  display: table;
  table-layout: fixed; }

.fat-nav.active {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); }

.fat-nav ul {
  display: table-cell;
  vertical-align: top;
  margin: 0;
  padding: 0; }

.fat-nav li {
  list-style-type: none;
  text-align: center;
  padding: 3px;
  font-size: 2em;
  padding-left: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.33); }

.fat-nav li, .fat-nav li a {
  color: #fff;
  text-align: left; }

.fat-nav li a {
  text-decoration: none;
  font-family: KozGoPr6N Medium-83pv-RKSJ-H;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  color: white; }
  .fat-nav li a span {
    font-family: KozGoPr6N Light-83pv-RKSJ-H;
    font-size: 12px;
    letter-spacing: 2.4px;
    color: #FFFFFF;
    color: white;
    display: inline-block;
    margin-left: 7px; }

.fat-nav {
  opacity: 1; }
  .fat-nav .top_nav_mb {
    opacity: 1;
    position: relative;
    height: 55px;
    background-color: #231815; }
    .fat-nav .top_nav_mb::after {
      content: url("/img/common/vertical_slash_mb.png");
      position: absolute;
      right: 57px; }
    .fat-nav .top_nav_mb img {
      opacity: 1;
      margin-top: 5px;
      margin-left: 15px; }

.pc_nav {
  opacity: 1; }
  .pc_nav .nav_pos {
    opacity: 1; }
    .pc_nav .nav_pos.left_nav {
      opacity: 1; }
    .pc_nav .nav_pos.right_nav {
      opacity: 1; }

.cpn_title {
  opacity: 1;
  font-family: " ヒラギノ角ゴ Pro W3 ", " Hiragino Kaku Gothic Pro ", Osaka, " メイリオ ", Meiryo, " ＭＳ Ｐゴシック ", " MS PGothic ", sans-serif;
  font-size: 25px;
  color: #438BCB;
  color: #438bcb;
  width: 316px;
  margin: 0 auto;
  text-align: center; }
  .cpn_title:after {
    content: '';
    display: block;
    clear: both;
    height: 9px;
    background-color: #CACACB;
    margin-top: 12px; }

.bound_ul .cell_li {
  opacity: 1;
  height: 95px;
  border-bottom: 1px solid #B5B6B6;
  padding-left: 3px;
  position: relative; }
  .bound_ul .cell_li:first-child {
    border-top: 1px solid #B5B6B6; }
  .bound_ul .cell_li:after {
    position: absolute;
    right: 0;
    top: 31px;
    content: url("/img/about-us/arrow_left.png");
    clear: both; }
  .bound_ul .cell_li .label_rui {
    opacity: 1;
    width: 100px;
    height: 48px;
    background-color: #E60012;
    display: inline-block;
    font-family: " ヒラギノ角ゴ Pro W3 ", " Hiragino Kaku Gothic Pro ", Osaka, " メイリオ ", Meiryo, " ＭＳ Ｐゴシック ", " MS PGothic ", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    color: white;
    line-height: 48px;
    text-align: center;
    margin-top: 22px; }
  .bound_ul .cell_li .description_rui {
    display: inline-block;
    margin-left: 15px; }
    .bound_ul .cell_li .description_rui a {
      text-underline: none;
      font-family: " ヒラギノ角ゴ Pro W3 ", " Hiragino Kaku Gothic Pro ", Osaka, " メイリオ ", Meiryo, " ＭＳ Ｐゴシック ", " MS PGothic ", sans-serif;
      font-size: 21px;
      color: #231815;
      color: #231815; }
      .bound_ul .cell_li .description_rui a:hover, .bound_ul .cell_li .description_rui a:visited, .bound_ul .cell_li .description_rui a:link, .bound_ul .cell_li .description_rui a:active {
        text-decoration: none; }

.cpn_green_title {
  width: 100%;
  background-color: #ABCD03;
  height: 46px;
  line-height: 46px;
  font-family: " ヒラギノ角ゴ Pro W3 ", " Hiragino Kaku Gothic Pro ", Osaka, " メイリオ ", Meiryo, " ＭＳ Ｐゴシック ", " MS PGothic ", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  color: white;
  text-align: center; }

.main-content {
  opacity: 1; }
  .main-content .top_banner {
    opacity: 1;
    height: 200px;
    background-color: gray; }
  .main-content .naiyou_page {
    opacity: 1;
    margin-bottom: 270px; }
    .main-content .naiyou_page .eki_kara {
      opacity: 1; }
      .main-content .naiyou_page .eki_kara .title {
        opacity: 1;
        margin-top: 86px;
        margin-bottom: 67px; }
      .main-content .naiyou_page .eki_kara .bound_green_title {
        opacity: 1; }
      .main-content .naiyou_page .eki_kara .bounce_navigation {
        opacity: 1;
        position: relative; }
        .main-content .naiyou_page .eki_kara .bounce_navigation::after {
          content: url("/img/search_eki/stand_aisatsu.png");
          position: absolute;
          top: 40px;
          right: 27px; }
        .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list {
          opacity: 1; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list:before, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list:after {
            content: "";
            display: table; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list:after {
            clear: both; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list.bounce_list_1 {
            opacity: 1;
            margin-top: 35px; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list.bounce_list_2 {
            opacity: 1;
            margin-top: 71px; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col {
            opacity: 1;
            float: left; }
            .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell {
              opacity: 1; }
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell:before, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell:after {
                content: "";
                display: table; }
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell:after {
                clear: both; }
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .half, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full {
                opacity: 1; }
                .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .half a, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full a {
                  font-family: 小塚ゴシック Pr6N;
                  font-size: 20px;
                  color: #231815;
                  color: #231815;
                  text-decoration: underline;
                  line-height: 34px; }
                  .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .half a:hover, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full a:hover {
                    color: #65AADD; }
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .half {
                opacity: 1;
                width: 50%;
                float: left; }
              .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full {
                opacity: 1;
                width: 100%; }
                .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full.header_tit {
                  opacity: 1; }
                  .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full.header_tit a {
                    font-family: HiraKakuProN W6-83pv-RKSJ-H;
                    font-size: 18px;
                    color: #008982;
                    color: #008982; }
                    .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full.header_tit a:hover, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full.header_tit a:visited, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full.header_tit a:link, .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col .row_cell .full.header_tit a:active {
                      text-decoration: none; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_1 {
            margin-left: 117px;
            opacity: 1;
            width: 185px; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_2 {
            width: 134px;
            margin-left: 21px; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_3 {
            width: 330px; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_4 {
            opacity: 1;
            margin-left: 117px;
            width: 210px; }
            .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_4 .full:not(.header_tit) {
              padding-left: 21px; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_5 {
            width: 216px; }
            .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_5 .full:not(.header_tit) {
              padding-left: 24px; }
          .main-content .naiyou_page .eki_kara .bounce_navigation .bounce_list .col_6 .full:not(.header_tit) {
            padding-left: 20px; }
      .main-content .naiyou_page .eki_kara .route_map {
        text-align: center;
        margin-top: 72px; }
        .main-content .naiyou_page .eki_kara .route_map a {
          outline: none; }
          .main-content .naiyou_page .eki_kara .route_map a img {
            opacity: 1;
            outline: none;
            border: none; }
        .main-content .naiyou_page .eki_kara .route_map .img_des {
          opacity: 1;
          text-align: center;
          font-family: HiraKakuProN W3-83pv-RKSJ-H;
          font-size: 21px;
          color: #727171;
          color: #727171;
          margin-top: 23px; }
      .main-content .naiyou_page .eki_kara .bounce_result {
        opacity: 1;
        margin-top: 147px; }
        .main-content .naiyou_page .eki_kara .bounce_result .bounce_buirochi_kara {
          opacity: 1; }
          .main-content .naiyou_page .eki_kara .bounce_result .bounce_buirochi_kara .list {
            margin-bottom: 27px;
            opacity: 1;
            font-family: ヒラギノ角ゴ Pro;
            font-size: 16px;
            line-height: 21px;
            color: #231815;
            color: #231815; }
          .main-content .naiyou_page .eki_kara .bounce_result .bounce_buirochi_kara .bound_ul {
            opacity: 1; }
          .main-content .naiyou_page .eki_kara .bounce_result .bounce_buirochi_kara .no-result {
            opacity: 1;
            font-size: 20px; }

.vitual {
  position: relative;
  min-height: 1px;
  align-content: initial;
  align-items: initial;
  align-self: initial;
  all: initial;
  animation: initial;
  animation-delay: initial;
  animation-direction: initial;
  animation-duration: initial;
  animation-fill-mode: initial;
  animation-iteration-count: initial;
  animation-name: initial;
  animation-play-state: initial;
  animation-timing-function: initial;
  backface-visibility: initial;
  background: initial;
  background-attachment: initial;
  background-blend-mode: initial;
  background-clip: initial;
  background-color: initial;
  background-image: initial;
  background-origin: initial;
  background-position: initial;
  background-repeat: initial;
  background-size: initial;
  border: initial;
  border-bottom: initial;
  border-bottom-color: initial;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
  border-bottom-style: initial;
  border-bottom-width: initial;
  border-collapse: initial;
  border-color: initial;
  border-image: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-image-slice: initial;
  border-image-source: initial;
  border-image-width: initial;
  border-left: initial;
  border-left-color: initial;
  border-left-style: initial;
  border-left-width: initial;
  border-radius: initial;
  border-right: initial;
  border-right-color: initial;
  border-right-style: initial;
  border-right-width: initial;
  border-spacing: initial;
  border-style: initial;
  border-top: initial;
  border-top-color: initial;
  border-top-left-radius: initial;
  border-top-right-radius: initial;
  border-top-style: initial;
  border-top-width: initial;
  border-width: initial;
  bottom: initial;
  box-shadow: initial;
  box-sizing: initial;
  caption-side: initial;
  clear: initial;
  clip: initial;
  color: initial;
  column-count: initial;
  column-fill: initial;
  column-gap: initial;
  column-rule: initial;
  column-rule-color: initial;
  column-rule-style: initial;
  column-rule-width: initial;
  column-span: initial;
  column-width: initial;
  columns: initial;
  content: initial;
  counter-increment: initial;
  counter-reset: initial;
  cursor: initial;
  direction: initial;
  display: initial;
  empty-cells: initial;
  filter: initial;
  flex: initial;
  flex-basis: initial;
  flex-direction: initial;
  flex-flow: initial;
  flex-grow: initial;
  flex-shrink: initial;
  flex-wrap: initial;
  float: initial;
  font: initial;
  font-family: initial;
  font-size: initial;
  font-size-adjust: initial;
  font-stretch: initial;
  font-style: initial;
  font-variant: initial;
  font-weight: initial;
  hanging-punctuation: initial;
  height: initial;
  justify-content: initial;
  left: initial;
  letter-spacing: initial;
  line-height: initial;
  list-style: initial;
  list-style-image: initial;
  list-style-position: initial;
  list-style-type: initial;
  margin: initial;
  margin-bottom: initial;
  margin-left: initial;
  margin-right: initial;
  margin-top: initial;
  max-height: initial;
  max-width: initial;
  min-height: initial;
  min-width: initial;
  nav-down: initial;
  nav-index: initial;
  nav-left: initial;
  nav-right: initial;
  nav-up: initial;
  opacity: initial;
  order: initial;
  outline: initial;
  outline-color: initial;
  outline-offset: initial;
  outline-style: initial;
  outline-width: initial;
  overflow: initial;
  overflow-x: initial;
  overflow-y: initial;
  padding: initial;
  padding-bottom: initial;
  padding-left: initial;
  padding-right: initial;
  padding-top: initial;
  page-break-after: initial;
  page-break-before: initial;
  page-break-inside: initial;
  perspective: initial;
  perspective-origin: initial;
  position: initial;
  quotes: initial;
  resize: initial;
  right: initial;
  tab-size: initial;
  table-layout: initial;
  text-align: initial;
  text-align-last: initial;
  text-decoration: initial;
  text-decoration-color: initial;
  text-decoration-line: initial;
  text-decoration-style: initial;
  text-indent: initial;
  text-justify: initial;
  text-overflow: initial;
  text-shadow: initial;
  text-transform: initial;
  top: initial;
  transform: initial;
  transform-origin: initial;
  transform-style: initial;
  transition: initial;
  transition-delay: initial;
  transition-duration: initial;
  transition-property: initial;
  transition-timing-function: initial;
  unicode-bidi: initial;
  user-select: initial;
  vertical-align: initial;
  visibility: initial;
  white-space: initial;
  width: initial;
  word-break: initial;
  word-spacing: initial;
  word-wrap: initial;
  z-index: initial; }
  @media only screen and (max-width: 1200px) {
    .vitual {
      opacity: 1; } }
  @media only screen and (max-width: 1024px) {
    .vitual {
      opacity: 1; } }
  @media only screen and (max-width: 960px) {
    .vitual {
      opacity: 1; } }
  @media only screen and (max-width: 767px) {
    .vitual {
      opacity: 1; } }
  @media only screen and (max-width: 680px) {
    .vitual {
      opacity: 1; } }
  @media only screen and (max-width: 480px) {
    .vitual {
      opacity: 1; } }
  @media only screen and (max-width: 320px) {
    .vitual {
      opacity: 1; } }
  .vitual:active {
    opacity: 1; }
  .vitual:checked {
    opacity: 1; }
  .vitual:disabled {
    opacity: 1; }
  .vitual:empty {
    opacity: 1; }
  .vitual:enabled {
    opacity: 1; }
  .vitual:first-child {
    opacity: 1; }
  .vitual:first-of-type {
    opacity: 1; }
  .vitual:focus {
    opacity: 1; }
  .vitual:hover {
    opacity: 1; }
  .vitual:in-range {
    opacity: 1; }
  .vitual:invalid {
    opacity: 1; }
  .vitual:lang(language) {
    opacity: 1; }
  .vitual:last-child {
    opacity: 1; }
  .vitual:last-of-type {
    opacity: 1; }
  .vitual:link {
    opacity: 1; }
  .vitual:not(selector) {
    opacity: 1; }
  .vitual:nth-child(n) {
    opacity: 1; }
  .vitual:nth-last-child(n) {
    opacity: 1; }
  .vitual:nth-last-of-type(n) {
    opacity: 1; }
  .vitual:nth-of-type(n) {
    opacity: 1; }
  .vitual:only-of-type {
    opacity: 1; }
  .vitual:only-child {
    opacity: 1; }
  .vitual:optional {
    opacity: 1; }
  .vitual:out-of-range {
    opacity: 1; }
  .vitual:read-only {
    opacity: 1; }
  .vitual:read-write {
    opacity: 1; }
  .vitual:required {
    opacity: 1; }
  .vitual:root {
    opacity: 1; }
  .vitual:target {
    opacity: 1; }
  .vitual:valid {
    opacity: 1; }
  .vitual:visited {
    opacity: 1; }
  .vitual::after {
    opacity: 1; }
  .vitual::before {
    opacity: 1; }
  .vitual::first-letter {
    opacity: 1; }
  .vitual::first-line {
    opacity: 1; }
  .vitual::selection {
    opacity: 1; }

/*# sourceMappingURL=search_eki.css.map */
