@charset "UTF-8";
@import "./../compass-mixins/lib/compass/css3";
@import "../../scss/compass/compass";
@import "../../scss/partial/component";
//Vitural. After complete. Please delete it
@import "../compass/helper_class";

//Common style

//Base for html rem
html {
  font-size: $global-font-size;
}
body {
  font-family: $font-family-jp;
}
.container {
  @include pc-screen() {
    width: 1015px;
  }
}

button {
  outline: none!important;
}

/* Image style */
#scrollUp {
  background-image: url("../../img/common/top.png");
  bottom: 20px;
  //right: 20px;
  right: calc((100vw - 1000px) / 2);
  width: 35px; /* Width of image */
  height: 35px; /* Height of image */

  @include big-screen() {
    right: 15px;
    bottom: 15px;
  }
}


* {
  //Style Hamburger Mobile Navigation
  @include cpn_fat_nav();
  //End hamburger

  //Include Navigation Bar
  @include cpn_pc_nav();
  //End of navigation bar

  @include cpn_footer();
}

//Header style
.header {
  opacity: 1;

  .pc_navigation {
    opacity: 1;
    height: 90px;
    margin-top: 20px;
    @include clearfix();

    @include xs-screen() {
      display: none;
    }
  }
  .mobile_hamburger {
    opacity: 1;
    @include clearfix();
  }
}

