@charset "UTF-8";
* .cpn_header_banner_gazou {
  opacity: 1;
  height: 512px;
  width: 100%;
  background: url("../../img/common/banner_gazou.png") center;
  background-size: cover;
  position: relative; }
  * .cpn_header_banner_gazou .text_float {
    opacity: 1;
    position: absolute;
    top: 39px;
    right: 255px; }
    @media only screen and (max-width: 1600px) {
      * .cpn_header_banner_gazou .text_float {
        right: 155px; } }
    @media only screen and (max-width: 1400px) {
      * .cpn_header_banner_gazou .text_float {
        opacity: 1;
        right: 100px; } }
    @media only screen and (max-width: 1024px) {
      * .cpn_header_banner_gazou .text_float {
        opacity: 1;
        right: 15px;
        top: 15px; } }
    @media only screen and (max-width: 960px) {
      * .cpn_header_banner_gazou .text_float {
        width: 472px;
        text-align: justify; } }
    @media only screen and (max-width: 480px) {
      * .cpn_header_banner_gazou .text_float {
        opacity: 1;
        left: 0;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px; } }
    * .cpn_header_banner_gazou .text_float .p_text {
      opacity: 1;
      font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
      font-size: 25px;
      color: #438BCB;
      color: #438bcb; }
      @media only screen and (max-width: 480px) {
        * .cpn_header_banner_gazou .text_float .p_text {
          opacity: 1;
          font-size: 23px; } }
      * .cpn_header_banner_gazou .text_float .p_text .break_magic {
        opacity: 1; }
        @media only screen and (max-width: 960px) {
          * .cpn_header_banner_gazou .text_float .p_text .break_magic {
            display: none; } }

* .circle-text {
  display: table-cell;
  height: 197px;
  /*change this and the width
   for the size of your initial circle*/
  width: 197px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  /*make it pretty*/
  background: #ABCD03;
  font-size: 30px;
  color: #FFFFFF;
  color: white;
  font-family: "ヒラギノ明朝 Pro";
  font-weight: bold;
  /*change this
   for font-size and font-family*/ }
  @media only screen and (max-width: 480px) {
    * .circle-text {
      font-size: 26px;
      width: 170px;
      height: 170px; } }

* .cpn_title {
  opacity: 1;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 25px;
  color: #438BCB;
  color: #438bcb;
  width: 316px;
  margin: 0 auto;
  text-align: center; }
  @media only screen and (max-width: 480px) {
    * .cpn_title {
      opacity: 1;
      width: 210px;
      font-size: 20px; } }
  * .cpn_title:after {
    content: '';
    display: block;
    clear: both;
    height: 9px;
    background-color: #CACACB;
    margin-top: 12px; }

* .cell_li {
  opacity: 1;
  height: 95px;
  border-bottom: 1px solid #B5B6B6;
  padding-left: 3px;
  position: relative; }
  @media only screen and (max-width: 480px) {
    * .cell_li {
      opacity: 1;
      height: 75px;
      padding-left: 0px; } }
  * .cell_li:first-child {
    border-top: 1px solid #B5B6B6; }
  * .cell_li:after {
    position: absolute;
    right: 0;
    top: 31px;
    content: url("../../img/about-us/arrow_left.png");
    clear: both; }
    @media only screen and (max-width: 480px) {
      * .cell_li:after {
        top: 52px;
        zoom: 55%; } }
    @media only screen and (max-width: 320px) {
      * .cell_li:after {
        display: none; } }
  * .cell_li .label_rui {
    opacity: 1;
    width: 100px;
    height: 48px;
    background-color: #E60012;
    display: inline-block;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    color: white;
    line-height: 48px;
    text-align: center;
    margin-top: 22px; }
    * .cell_li .label_rui.gray_item {
      background-color: #9FA0A0; }
    @media only screen and (max-width: 480px) {
      * .cell_li .label_rui {
        opacity: 1;
        font-size: 12px;
        width: 48px;
        line-height: 30px;
        height: 30px; } }
  * .cell_li .description_rui {
    display: inline-block;
    margin-left: 15px; }
    @media only screen and (max-width: 480px) {
      * .cell_li .description_rui {
        margin-left: 0px; } }
    * .cell_li .description_rui a {
      text-underline: none;
      font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
      font-size: 21px;
      color: #231815;
      color: #231815; }
      * .cell_li .description_rui a:hover, * .cell_li .description_rui a:visited, * .cell_li .description_rui a:link, * .cell_li .description_rui a:active {
        text-decoration: none; }
      @media only screen and (max-width: 480px) {
        * .cell_li .description_rui a {
          font-size: 15px; } }

.main-content {
  opacity: 1; }
  .main-content .top_banner_gazou {
    opacity: 1; }
  .main-content .naiyou_page {
    opacity: 1; }
    .main-content .naiyou_page .aisatsu {
      opacity: 1;
      position: relative; }
      .main-content .naiyou_page .aisatsu::after {
        content: url("../../img/about-us/aisatsu.png");
        display: block;
        clear: both;
        position: absolute;
        right: -33px;
        top: -35px; }
        @media only screen and (max-width: 1024px) {
          .main-content .naiyou_page .aisatsu::after {
            opacity: 1;
            right: 25px; } }
        @media only screen and (max-width: 960px) {
          .main-content .naiyou_page .aisatsu::after {
            opacity: 1;
            margin-top: 22px;
            right: 0px;
            content: url("../../img/about-us/mb_aisatsu.png"); } }
        @media only screen and (max-width: 480px) {
          .main-content .naiyou_page .aisatsu::after {
            margin-top: 27px; } }
        @media only screen and (max-width: 320px) {
          .main-content .naiyou_page .aisatsu::after {
            right: -12px; } }
      .main-content .naiyou_page .aisatsu .text_aisatsu {
        font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        width: 92%;
        font-size: 20px;
        color: #231815;
        color: #231815;
        margin-top: 75px;
        margin-bottom: 61px; }
        @media only screen and (max-width: 1024px) {
          .main-content .naiyou_page .aisatsu .text_aisatsu {
            opacity: 1;
            width: 85%;
            text-align: justify;
            padding-left: 28px;
            padding-right: 48px; } }
        @media only screen and (max-width: 960px) {
          .main-content .naiyou_page .aisatsu .text_aisatsu {
            opacity: 1;
            margin-top: 23px;
            padding-right: 26px; } }
        @media only screen and (max-width: 480px) {
          .main-content .naiyou_page .aisatsu .text_aisatsu {
            padding-left: 0px;
            padding-right: 0px;
            font-size: 16px;
            width: 74%; } }
    .main-content .naiyou_page .bunjochi {
      opacity: 1; }
      @media only screen and (max-width: 1024px) {
        .main-content .naiyou_page .bunjochi {
          padding-left: 28px;
          padding-right: 28px; } }
      @media only screen and (max-width: 480px) {
        .main-content .naiyou_page .bunjochi {
          padding-left: 0px;
          padding-right: 0px; } }
      .main-content .naiyou_page .bunjochi .circle_title {
        display: table;
        margin: 0 auto; }
      .main-content .naiyou_page .bunjochi .content {
        opacity: 1;
        margin-top: 127px; }
        @media only screen and (max-width: 1024px) {
          .main-content .naiyou_page .bunjochi .content {
            opacity: 1; } }
        @media only screen and (max-width: 960px) {
          .main-content .naiyou_page .bunjochi .content {
            margin-top: 53px; } }
        .main-content .naiyou_page .bunjochi .content .bound_ul {
          opacity: 1; }
    .main-content .naiyou_page .kaisha_gaiyou {
      opacity: 1; }
      @media only screen and (max-width: 1024px) {
        .main-content .naiyou_page .kaisha_gaiyou {
          padding-left: 28px;
          padding-right: 28px; } }
      @media only screen and (max-width: 480px) {
        .main-content .naiyou_page .kaisha_gaiyou {
          padding-left: 0px;
          padding-right: 0px; } }
      .main-content .naiyou_page .kaisha_gaiyou .circle_title {
        opacity: 1;
        display: table;
        margin: 0 auto;
        margin-bottom: 78px;
        margin-top: 137px; }
        @media only screen and (max-width: 960px) {
          .main-content .naiyou_page .kaisha_gaiyou .circle_title {
            margin-top: 55px;
            margin-bottom: 55px; } }
      .main-content .naiyou_page .kaisha_gaiyou .content {
        opacity: 1; }
        @media only screen and (max-width: 1024px) {
          .main-content .naiyou_page .kaisha_gaiyou .content {
            opacity: 1; } }
        .main-content .naiyou_page .kaisha_gaiyou .content .bound_ul {
          opacity: 1; }
          .main-content .naiyou_page .kaisha_gaiyou .content .bound_ul .cell_li_table {
            opacity: 1;
            border-bottom: 1px solid #B5B6B6; }
            .main-content .naiyou_page .kaisha_gaiyou .content .bound_ul .cell_li_table:first-child {
              border-top: 1px solid #B5B6B6; }
            .main-content .naiyou_page .kaisha_gaiyou .content .bound_ul .cell_li_table .before, .main-content .naiyou_page .kaisha_gaiyou .content .bound_ul .cell_li_table .after {
              opacity: 1;
              font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
              font-size: 17px;
              line-height: 94px;
              color: #231815;
              color: #231815;
              display: inline-block; }
              @media only screen and (max-width: 480px) {
                .main-content .naiyou_page .kaisha_gaiyou .content .bound_ul .cell_li_table .before, .main-content .naiyou_page .kaisha_gaiyou .content .bound_ul .cell_li_table .after {
                  width: 100% !important; } }
            .main-content .naiyou_page .kaisha_gaiyou .content .bound_ul .cell_li_table .before {
              opacity: 1;
              width: 128px;
              padding-left: 2px; }
              @media only screen and (max-width: 480px) {
                .main-content .naiyou_page .kaisha_gaiyou .content .bound_ul .cell_li_table .before {
                  opacity: 1;
                  line-height: 37px;
                  font-weight: bold; } }
            .main-content .naiyou_page .kaisha_gaiyou .content .bound_ul .cell_li_table .after {
              opacity: 1;
              width: calc(100% - 134px); }
              @media only screen and (max-width: 480px) {
                .main-content .naiyou_page .kaisha_gaiyou .content .bound_ul .cell_li_table .after {
                  opacity: 1;
                  padding-top: 2px !important;
                  line-height: 30px !important;
                  text-align: justify; } }
            .main-content .naiyou_page .kaisha_gaiyou .content .bound_ul .cell_li_table.double {
              opacity: 1; }
              .main-content .naiyou_page .kaisha_gaiyou .content .bound_ul .cell_li_table.double .before {
                vertical-align: top; }
              .main-content .naiyou_page .kaisha_gaiyou .content .bound_ul .cell_li_table.double .after {
                line-height: 40px;
                padding-top: 27px;
                padding-bottom: 17px; }
    .main-content .naiyou_page .jigyou_naiyou {
      opacity: 1; }
      @media only screen and (max-width: 1024px) {
        .main-content .naiyou_page .jigyou_naiyou {
          padding-left: 28px;
          padding-right: 28px; } }
      @media only screen and (max-width: 480px) {
        .main-content .naiyou_page .jigyou_naiyou {
          padding-left: 0px;
          padding-right: 0px; } }
      .main-content .naiyou_page .jigyou_naiyou .circle_title {
        opacity: 1;
        display: table;
        margin: 0 auto;
        margin-top: 87px; }
        @media only screen and (max-width: 960px) {
          .main-content .naiyou_page .jigyou_naiyou .circle_title {
            margin-top: 55px; } }
      .main-content .naiyou_page .jigyou_naiyou .content1 {
        opacity: 1; }
        .main-content .naiyou_page .jigyou_naiyou .content1 .title {
          opacity: 1;
          margin-top: 55px; }
          @media only screen and (max-width: 960px) {
            .main-content .naiyou_page .jigyou_naiyou .content1 .title {
              margin-top: 58px; } }
        .main-content .naiyou_page .jigyou_naiyou .content1 .bounce_below {
          opacity: 1;
          margin-top: 58px; }
          .main-content .naiyou_page .jigyou_naiyou .content1 .bounce_below .description {
            opacity: 1;
            font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            font-size: 21px;
            color: #231815;
            color: #231815; }
            @media only screen and (max-width: 480px) {
              .main-content .naiyou_page .jigyou_naiyou .content1 .bounce_below .description {
                font-size: 17px;
                line-height: 30px; } }
          .main-content .naiyou_page .jigyou_naiyou .content1 .bounce_below .bounce_image {
            opacity: 1;
            text-align: center;
            margin-top: 110px; }
            @media only screen and (max-width: 480px) {
              .main-content .naiyou_page .jigyou_naiyou .content1 .bounce_below .bounce_image {
                opacity: 1;
                margin-top: 50px; } }
            .main-content .naiyou_page .jigyou_naiyou .content1 .bounce_below .bounce_image a {
              display: block;
              padding-left: 173px; }
              @media only screen and (max-width: 960px) {
                .main-content .naiyou_page .jigyou_naiyou .content1 .bounce_below .bounce_image a {
                  padding-left: 64px; } }
              @media only screen and (max-width: 570px) {
                .main-content .naiyou_page .jigyou_naiyou .content1 .bounce_below .bounce_image a {
                  padding-left: 0px; } }
              @media only screen and (max-width: 480px) {
                .main-content .naiyou_page .jigyou_naiyou .content1 .bounce_below .bounce_image a {
                  text-align: left; } }
              .main-content .naiyou_page .jigyou_naiyou .content1 .bounce_below .bounce_image a img {
                opacity: 1; }
                .main-content .naiyou_page .jigyou_naiyou .content1 .bounce_below .bounce_image a img.pc {
                  opacity: 1; }
                  @media only screen and (max-width: 480px) {
                    .main-content .naiyou_page .jigyou_naiyou .content1 .bounce_below .bounce_image a img.pc {
                      display: none; } }
                .main-content .naiyou_page .jigyou_naiyou .content1 .bounce_below .bounce_image a img.phone {
                  display: none; }
                  @media only screen and (max-width: 480px) {
                    .main-content .naiyou_page .jigyou_naiyou .content1 .bounce_below .bounce_image a img.phone {
                      display: inline-block;
                      width: 80%; } }
      .main-content .naiyou_page .jigyou_naiyou .content2 {
        opacity: 1; }
        .main-content .naiyou_page .jigyou_naiyou .content2 .title {
          opacity: 1;
          margin-top: 124px; }
        .main-content .naiyou_page .jigyou_naiyou .content2 .bounce_below {
          opacity: 1;
          margin-top: 52px; }
          .main-content .naiyou_page .jigyou_naiyou .content2 .bounce_below .description {
            opacity: 1;
            font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            font-size: 21px;
            color: #231815;
            color: #231815;
            text-align: justify; }
            @media only screen and (max-width: 480px) {
              .main-content .naiyou_page .jigyou_naiyou .content2 .bounce_below .description {
                font-size: 17px;
                line-height: 30px; } }
          .main-content .naiyou_page .jigyou_naiyou .content2 .bounce_below .bounce_image {
            opacity: 1;
            text-align: center;
            margin-top: 71px; }
            @media only screen and (max-width: 960px) {
              .main-content .naiyou_page .jigyou_naiyou .content2 .bounce_below .bounce_image {
                margin-top: 43px; } }
            @media only screen and (max-width: 570px) {
              .main-content .naiyou_page .jigyou_naiyou .content2 .bounce_below .bounce_image {
                text-align: left; } }
            .main-content .naiyou_page .jigyou_naiyou .content2 .bounce_below .bounce_image a {
              display: block;
              padding-left: 173px; }
              @media only screen and (max-width: 960px) {
                .main-content .naiyou_page .jigyou_naiyou .content2 .bounce_below .bounce_image a {
                  padding-left: 0px; } }
              .main-content .naiyou_page .jigyou_naiyou .content2 .bounce_below .bounce_image a img {
                opacity: 1; }
                @media only screen and (max-width: 480px) {
                  .main-content .naiyou_page .jigyou_naiyou .content2 .bounce_below .bounce_image a img {
                    width: 100%; } }
    .main-content .naiyou_page .toiawase {
      opacity: 1; }
      .main-content .naiyou_page .toiawase .circle_title {
        opacity: 1;
        display: table;
        margin: 0 auto;
        margin-top: 172px; }
        @media only screen and (max-width: 960px) {
          .main-content .naiyou_page .toiawase .circle_title {
            margin-top: 77px; } }
      .main-content .naiyou_page .toiawase .content1 {
        opacity: 1;
        margin-top: 63px; }
        @media only screen and (max-width: 960px) {
          .main-content .naiyou_page .toiawase .content1 {
            margin-top: 73px; } }
        .main-content .naiyou_page .toiawase .content1 .title {
          opacity: 1; }
        .main-content .naiyou_page .toiawase .content1 .tel_info {
          margin-top: 34px;
          opacity: 1;
          text-align: center; }
          .main-content .naiyou_page .toiawase .content1 .tel_info img.pc {
            opacity: 1; }
            @media only screen and (max-width: 570px) {
              .main-content .naiyou_page .toiawase .content1 .tel_info img.pc {
                width: 95%; } }
            @media only screen and (max-width: 480px) {
              .main-content .naiyou_page .toiawase .content1 .tel_info img.pc {
                opacity: 1;
                display: none; } }
          .main-content .naiyou_page .toiawase .content1 .tel_info img.phone {
            display: none; }
            @media only screen and (max-width: 480px) {
              .main-content .naiyou_page .toiawase .content1 .tel_info img.phone {
                display: inline-block; } }
      .main-content .naiyou_page .toiawase .content2 {
        opacity: 1;
        margin-top: 8px; }
        .main-content .naiyou_page .toiawase .content2 .title {
          opacity: 1; }
        .main-content .naiyou_page .toiawase .content2 .form_info {
          opacity: 1; }
          .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit {
            opacity: 1;
            padding-right: 27px; }
            @media only screen and (max-width: 960px) {
              .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit {
                padding-left: 28px;
                padding-right: 28px; } }
            @media only screen and (max-width: 480px) {
              .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit {
                padding-left: 0px;
                padding-right: 0px; } }
            .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .hitsuyou {
              opacity: 1;
              font-size: 14px;
              color: #E60012;
              color: #e60012;
              text-align: right;
              margin-bottom: -2px;
              margin-top: 46px; }
            .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content {
              opacity: 1; }
              .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form {
                opacity: 1; }
                .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form:before, .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form:after {
                  content: "";
                  display: table; }
                .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form:after {
                  clear: both; }
                .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form .before, .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form .after {
                  opacity: 1;
                  margin-top: 7px;
                  margin-bottom: 7px; }
                  @media only screen and (max-width: 480px) {
                    .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form .before, .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form .after {
                      width: 100% !important;
                      text-align: left !important; } }
                .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form .before {
                  opacity: 1;
                  width: 190px;
                  float: left;
                  text-align: right;
                  padding-right: 23px;
                  margin-top: 23px;
                  font-weight: 700; }
                  @media only screen and (max-width: 680px) {
                    .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form .before {
                      width: 155px; } }
                  .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form .before .mark_hitsuyou {
                    font-size: 20px;
                    color: #E60012;
                    color: #e60012;
                    display: inline-block;
                    width: 10px;
                    line-height: 0px; }
                .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form .after {
                  opacity: 1;
                  float: left;
                  width: calc(100% - 190px); }
                  @media only screen and (max-width: 680px) {
                    .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form .after {
                      width: calc(100% - 155px); } }
                  .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form .after input, .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form .after textarea {
                    width: 100%; }
                  .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form .after input {
                    height: 41px; }
                  .main-content .naiyou_page .toiawase .content2 .form_info .formSubmit .form_content .cell_form .after textarea {
                    height: 177px; }
          .main-content .naiyou_page .toiawase .content2 .form_info .bounce_submit {
            opacity: 1;
            text-align: center;
            margin-top: 40px; }
            @media only screen and (max-width: 960px) {
              .main-content .naiyou_page .toiawase .content2 .form_info .bounce_submit {
                margin-top: 53px; } }
            .main-content .naiyou_page .toiawase .content2 .form_info .bounce_submit .btn_submit_form {
              width: 253px;
              height: 50px;
              background-color: #438BCB;
              font-size: 25px;
              color: #FFFFFF;
              color: white; }
              @media only screen and (max-width: 570px) {
                .main-content .naiyou_page .toiawase .content2 .form_info .bounce_submit .btn_submit_form {
                  width: 171px; } }
    .main-content .naiyou_page .privacy {
      opacity: 1;
      margin-bottom: 239px; }
      @media only screen and (max-width: 1024px) {
        .main-content .naiyou_page .privacy {
          padding-left: 28px;
          padding-right: 28px; } }
      @media only screen and (max-width: 960px) {
        .main-content .naiyou_page .privacy {
          margin-bottom: 90px; } }
      @media only screen and (max-width: 480px) {
        .main-content .naiyou_page .privacy {
          padding-left: 0px;
          padding-right: 0px; } }
      .main-content .naiyou_page .privacy .circle_title {
        opacity: 1;
        display: table;
        margin: 0 auto;
        margin-top: 146px;
        margin-bottom: 46px; }
        @media only screen and (max-width: 960px) {
          .main-content .naiyou_page .privacy .circle_title {
            margin-top: 80px; } }
      .main-content .naiyou_page .privacy .content {
        opacity: 1; }
        .main-content .naiyou_page .privacy .content .description {
          opacity: 1;
          font-size: 14px;
          color: #231815;
          font-family: "ヒラギノ角ゴ Pro";
          line-height: 25px;
          text-align: justify; }
          .main-content .naiyou_page .privacy .content .description .hide_creative {
            opacity: 1; }
            @media only screen and (max-width: 960px) {
              .main-content .naiyou_page .privacy .content .description .hide_creative {
                display: none; } }
          .main-content .naiyou_page .privacy .content .description.graph2 {
            margin-top: 23px; }
          .main-content .naiyou_page .privacy .content .description.graph3 {
            margin-top: 17px; }
          .main-content .naiyou_page .privacy .content .description.graph4 {
            margin-top: 17px; }
          .main-content .naiyou_page .privacy .content .description.graph5 {
            margin-top: 17px; }

/*# sourceMappingURL=about-us.css.map */
