.hamburger {
  opacity: 1;
  display: none;
  
  @include xs-screen() {
    display: block;
    width: 54px;
    height: 54px;
    position: fixed;
    top: 6px;
    right: 0;
    z-index: 10000;
    padding: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
}
.hamburger__icon {
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
}
.hamburger__icon, .hamburger__icon:before, .hamburger__icon:after {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #222;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.hamburger__icon:before, .hamburger__icon:after {
  position: absolute;
  content: "";
}
.hamburger__icon:before {
  top: -7px;
}
.hamburger__icon:after {
  top: 7px;
}
.active .hamburger__icon {
  background-color: transparent;
}
.active .hamburger__icon:before, .active .hamburger__icon:after {
  background-color: #fff;
}
.active .hamburger__icon:before {
  -moz-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -webkit-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}
.active .hamburger__icon:after {
  -moz-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -webkit-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}

.fat-nav {
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: #727171;
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.fat-nav__wrapper {
  width: 100%;
  height: calc(100% - 56px);
  display: table;
  table-layout: fixed;
}
.fat-nav.active {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.fat-nav ul {
  display: table-cell;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.fat-nav li {
  list-style-type: none;
  text-align: center;
  padding: 3px;
  font-size: 2em;
  padding-left: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}
.fat-nav li, .fat-nav li a {
  color: #fff;
  text-align: left;
}
.fat-nav li a {
  text-decoration: none;
  font-family : KozGoPr6N Medium-83pv-RKSJ-H;
  font-size : 15px;
  letter-spacing : 1.5px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);

  span {
    font-family : KozGoPr6N Light-83pv-RKSJ-H;
    font-size : 12px;
    letter-spacing : 2.4px;
    color : #FFFFFF;
    color : rgb(255, 255, 255);
    display: inline-block;
    margin-left: 7px;
  }
}

// I add scss more here to change default mobile navigation bar.
.fat-nav {
  opacity: 1;

  .top_nav_mb {
    opacity: 1;
    position: relative;
    height: 55px;
    background-color: #231815;

    &::after {
      content: url("/img/common/vertical_slash_mb.png");
      position: absolute;
      right: 57px;
    }

    img {
      opacity: 1;
      margin-top: 5px;
      margin-left: 15px;
    }
  }
}
