@mixin cpn_title() {
  .cpn_title {
    opacity: 1;
    font-family: $font-family-jp;
    font-size: 25px;
    color: #438BCB;
    color: rgb(67, 139, 203);
    width: 316px;
    margin: 0 auto;
    text-align: center;

    @include small-screen() {
      opacity: 1;
      width: 210px;
      font-size: 20px;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
      height: 9px;
      background-color: #CACACB;
      margin-top: 12px;
    }
  }
}