@mixin cpn_green_title() {
  .cpn_green_title {
    width: 100%;
    background-color: #ABCD03;
    height: 46px;
    line-height: 46px;
    font-family: $font-family-jp;
    font-size: 20px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    text-align: center;

    @include small-screen() {
      font-size: 17px;
    }

    @include tiny-screen() {
      font-size: 14px;
    }
  }
}

